src/main/app/product-kmp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd">
    <http:request-config name="HTTP_Request_Configuration" host="localhost" port="53000"  doc:name="HTTP Request Configuration" basePath="api"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="8081"  doc:name="HTTP Listener Configuration"/>
    <file:connector name="File" writeToDirectory="/home/enclaveit/AnypointStudio/workspace/product-kmp/output" autoDelete="true" streaming="true" validateConnections="true" doc:name="File"/>
   
        
    <apikit:config name="api-config" raml="api.raml" consoleEnabled="false" doc:name="Router"/>
    <flow name="product-kmpFlow">
       <http:listener config-ref="HTTP_Listener_Configuration" path="/product" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/product" doc:name="HTTP" method="GET"/>                   
    </flow>
    <flow name="product-kmpFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/product/{id}" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/product/{id}" doc:name="HTTP" method="GET">
            <http:request-builder>
                <http:uri-param paramName="id" value="#[message.inboundProperties.'http.uri.params'.id]"/>
            </http:request-builder>
        </http:request>                        
    </flow>
    <flow name="api-main">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/api/*																																																																	" doc:name="HTTP"/>
        <apikit:router config-ref="api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="api-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="get:/product:api-config">
        <set-payload value="[&#xA;    {&#xA;      &quot;id&quot;: 1,&#xA;      &quot;name&quot;: &quot;Samsung Galaxy S6&quot;,&#xA;      &quot;description&quot;: &quot;The Samsung Galaxy S6 runs on Android OS, v5.0 (Lollipop) and is powered by Quad-core 1.3 GHz Cortex-A53 &amp; Quad-core 1.9 GHz Cortex-A57 processor with 3GB RAM. It has a 5.1-inch, 1440 x 2560 pixel display. The Samsung Galaxy S6 also comes with a 16.0-megapixel camera that is able to record videos at 2160p. It comes with 32GB of built-in storage, and is able to support microSD cards of up to 128GB.&quot;,&#xA;      &quot;balance&quot;: 2,&#xA;      &quot;price&quot;: 2599,&#xA;      &quot;image_url&quot;: &quot;/images/samsung-galaxy-s6_20153341739_b.jpg&quot;,&#xA;      &quot;specification&quot;: {&#xA;        &quot;general&quot;: {&#xA;          &quot;date_announced&quot;: &quot;2015-03-03&quot;,&#xA;          &quot;network_technology&quot;: &quot;GSM 850 / 900 / 1800 / 1900\nHSDPA 850 / 900 / 1900 / 2100\nLTE 800 / 850 / 900 / 1800 / 1900&quot;&#xA;        },&#xA;        &quot;processor_memory&quot;: {&#xA;          &quot;sim&quot;: &quot;Nano SIM&quot;,&#xA;          &quot;cpu&quot;: &quot;Quad-core 1.5 GHz Cortex-A53, Quad-core 2.1 GHz Cortex-A57&quot;,&#xA;          &quot;ram&quot;: &quot;3 GB&quot;,&#xA;          &quot;internal_storage&quot;: &quot;32 GB&quot;,&#xA;          &quot;external_storage&quot;: null,&#xA;          &quot;gpu&quot;: &quot;Mali-T760&quot;,&#xA;          &quot;chipset&quot;: &quot;Exynos 7420&quot;&#xA;        },&#xA;        &quot;body&quot;: {&#xA;          &quot;dimensions&quot;: &quot;143.4 x 70.5 x 6.8 (height x width x thickness)(mm)&quot;,&#xA;          &quot;weight&quot;: &quot;138 g&quot;,&#xA;          &quot;available_colors&quot;: &quot;Charcoal Black, Copper Gold, Electric Blue, Shimmery White&quot;,&#xA;          &quot;qwerty_keypad&quot;: null&#xA;        },&#xA;        &quot;display&quot;: {&#xA;          &quot;screen_size&quot;: &quot;5.1 inch&quot;,&#xA;          &quot;resolution&quot;: &quot;1440 x 2560 pixels (577 ppi pixel density)&quot;,&#xA;          &quot;screen_color&quot;: &quot;Super AMOLED capacitive touchscreen, 16M colors&quot;,&#xA;          &quot;design&quot;: &quot;Candybar&quot;,&#xA;          &quot;screen_protection&quot;: &quot;Corning Gorilla Glass 4&quot;,&#xA;          &quot;multitouch&quot;: true&#xA;        },&#xA;        &quot;software&quot;: {&#xA;          &quot;platform_os&quot;: &quot;Android OS v5.0 (Lollipop)&quot;,&#xA;          &quot;java_j2me&quot;: &quot;via Java MIDP emulator&quot;,&#xA;          &quot;messaging&quot;: &quot;SMS, MMS, Email, Push Email, IM&quot;,&#xA;          &quot;others&quot;: &quot;SNS applications, Google Search, Maps, Gmail, YouTube, Google Talk, Document viewer, Photo viewer/editor&quot;&#xA;        },&#xA;        &quot;sound&quot;: {&#xA;          &quot;alert&quot;: &quot;MP3, Vibration, WAV&quot;,&#xA;          &quot;3_5_mm_jack&quot;: true,&#xA;          &quot;extra_feature&quot;: &quot;MP3/WAV/WMA/eAAC+/FLAC player&quot;&#xA;        },&#xA;        &quot;battery&quot;: {&#xA;          &quot;type_capacity&quot;: &quot;Li-Ion 2550 mAh battery&quot;,&#xA;          &quot;stand_by&quot;: null,&#xA;          &quot;talk_time&quot;: null&#xA;        },&#xA;        &quot;entertainment&quot;: {&#xA;          &quot;fm_radio&quot;: null,&#xA;          &quot;tv_receiver&quot;: null&#xA;        },&#xA;        &quot;connectivity&quot;: {&#xA;          &quot;hspda&quot;: &quot;HSPA 42.2/5.76 Mbps, LTE Cat6 300/50 Mbps&quot;,&#xA;          &quot;wlan&quot;: true,&#xA;          &quot;gprs&quot;: true,&#xA;          &quot;edge&quot;: true,&#xA;          &quot;wifi_hot_spot&quot;: true,&#xA;          &quot;gps&quot;: true,&#xA;          &quot;nfc_support&quot;: true,&#xA;          &quot;bluetooth&quot;: &quot;v4.0, A2DP, EDR, LE, apt-X&quot;,&#xA;          &quot;usb_port&quot;: true,&#xA;          &quot;sensor&quot;: &quot;Accelerometer, Barometer, Compass, Gesture, Gyro, Heart rate, Proximity&quot;&#xA;        },&#xA;        &quot;camera&quot;: {&#xA;          &quot;capacity&quot;: &quot;16 Megapixel&quot;,&#xA;          &quot;max_resolution&quot;: &quot;4992 x 3744&quot;,&#xA;          &quot;flash&quot;: true,&#xA;          &quot;video_recording&quot;: &quot;2160p@30fps, 1080p@60fps, 720p@120fps, hdr, dual-video rec&quot;,&#xA;          &quot;secondary_camera&quot;: &quot;5 MP, 1080p@30fps, dual video call, Auto HDR&quot;,&#xA;          &quot;extra_features&quot;: &quot;Phase detection autofocus, LED flash, Dual Shot, Simultaneous HD video and image recording, geo-tagging, touch focus, face/smile detection, HDR&quot;&#xA;        }&#xA;      }&#xA;    },&#xA;    {&#xA;      &quot;id&quot;: 10,&#xA;      &quot;name&quot;: &quot;Xiaomi Redmi 2&quot;,&#xA;      &quot;description&quot;: &quot;The Xiaomi Redmi 2 runs on Android OS, v4.4.4 (KitKat) and is powered by Quad-core 1.2 GHz Cortex-A53 processor with 1/2GB RAM. It has a 4.7-inch, 720 x 1280 pixel display. The Xiaomi Redmi 2 also comes with a 8.0-megapixel camera that is able to record videos at 1080p. It comes with 8/16GB of built-in storage, and is able to support microSD cards of up to 32GB.&quot;,&#xA;      &quot;balance&quot;: 8,&#xA;      &quot;price&quot;: 449,&#xA;      &quot;image_url&quot;: &quot;/images/xiaomi-redmi-2_201521362954_b.jpg&quot;,&#xA;      &quot;specification&quot;: {&#xA;        &quot;general&quot;: {&#xA;          &quot;date_announced&quot;: &quot;2015-02-13&quot;,&#xA;          &quot;network_technology&quot;: &quot;GSM / HSPA / LTE&quot;&#xA;        },&#xA;        &quot;processor_memory&quot;: {&#xA;          &quot;sim&quot;: &quot;Dual SIM&quot;,&#xA;          &quot;cpu&quot;: &quot;Quad-core 1.2 GHz Cortex-A53&quot;,&#xA;          &quot;ram&quot;: &quot;1 GB&quot;,&#xA;          &quot;internal_storage&quot;: &quot;8 GB&quot;,&#xA;          &quot;external_storage&quot;: &quot;microSD, up to 32 GB&quot;,&#xA;          &quot;gpu&quot;: &quot;Adreno 306&quot;,&#xA;          &quot;chipset&quot;: null&#xA;        },&#xA;        &quot;body&quot;: {&#xA;          &quot;dimensions&quot;: &quot;134 x 67.2 x 9.4 (height x width x thickness)(mm)&quot;,&#xA;          &quot;weight&quot;: &quot;133 g&quot;,&#xA;          &quot;available_colors&quot;: &quot;Black, White, Yellow, Pink, Green&quot;,&#xA;          &quot;qwerty_keypad&quot;: null&#xA;        },&#xA;        &quot;display&quot;: {&#xA;          &quot;screen_size&quot;: &quot;4.7 inch&quot;,&#xA;          &quot;resolution&quot;: &quot;720 x 1280 pixels (312 ppi pixel density)&quot;,&#xA;          &quot;screen_color&quot;: &quot;IPS LCD capacitive touchscreen, 16M colors&quot;,&#xA;          &quot;design&quot;: &quot;Candybar&quot;,&#xA;          &quot;screen_protection&quot;: &quot;Corning Gorilla Glass 2&quot;,&#xA;          &quot;multitouch&quot;: true&#xA;        },&#xA;        &quot;software&quot;: {&#xA;          &quot;platform_os&quot;: &quot;Android OS, v4.4.4 (KitKat)&quot;,&#xA;          &quot;java_j2me&quot;: &quot;via Java MIDP emulator&quot;,&#xA;          &quot;messaging&quot;: &quot;SMS, MMS, Email, Push Email, IM&quot;,&#xA;          &quot;others&quot;: &quot;Organizer, Document viewer, Photo viewer/editor&quot;&#xA;        },&#xA;        &quot;sound&quot;: {&#xA;          &quot;alert&quot;: &quot;MP3, Vibration, WAV&quot;,&#xA;          &quot;3_5_mm_jack&quot;: true,&#xA;          &quot;extra_feature&quot;: &quot;MP3/WAV/eAAC+/FLAC player&quot;&#xA;        },&#xA;        &quot;battery&quot;: {&#xA;          &quot;type_capacity&quot;: &quot;Li-Po 2200 mAh battery&quot;,&#xA;          &quot;stand_by&quot;: null,&#xA;          &quot;talk_time&quot;: null&#xA;        },&#xA;        &quot;entertainment&quot;: {&#xA;          &quot;fm_radio&quot;: null,&#xA;          &quot;tv_receiver&quot;: null&#xA;        },&#xA;        &quot;connectivity&quot;: {&#xA;          &quot;hspda&quot;: null,&#xA;          &quot;wlan&quot;: true,&#xA;          &quot;gprs&quot;: true,&#xA;          &quot;edge&quot;: true,&#xA;          &quot;wifi_hot_spot&quot;: true,&#xA;          &quot;gps&quot;: true,&#xA;          &quot;nfc_support&quot;: null,&#xA;          &quot;bluetooth&quot;: &quot;v4.0, A2DP, LE&quot;,&#xA;          &quot;usb_port&quot;: true,&#xA;          &quot;sensor&quot;: &quot;Accelerometer, Compass, Gyro, Proximity&quot;&#xA;        },&#xA;        &quot;camera&quot;: {&#xA;          &quot;capacity&quot;: &quot;8 Megapixel&quot;,&#xA;          &quot;max_resolution&quot;: &quot;3264 x 2448&quot;,&#xA;          &quot;flash&quot;: true,&#xA;          &quot;video_recording&quot;: &quot;1080p@30fps&quot;,&#xA;          &quot;secondary_camera&quot;: &quot;2 MP, 720p&quot;,&#xA;          &quot;extra_features&quot;: &quot;Autofocus, LED flash, 1.4 µm pixel size, geo-tagging, touch focus, face/smile detection, HDR&quot;&#xA;        }&#xA;      }&#xA;    },&#xA;    {&#xA;      &quot;id&quot;: 2,&#xA;      &quot;name&quot;: &quot;Samsung Galaxy S6 Edge&quot;,&#xA;      &quot;description&quot;: &quot;The Samsung Galaxy S6 Edge runs on Android OS, v5.0 (Lollipop) and is powered by Quad-core 1.3 GHz Cortex-A53 &amp; Quad-core 1.9 GHz Cortex-A57 with 3GB RAM. It has a 5.2-inch, 1440 x 2560 pixel display. The Samsung Galaxy S6 Edge also comes with a 20.0-megapixel camera that is able to record videos at 2160p. It comes with 32GB of built-in storage, and is able to support microSD cards of up to 128GB.&quot;,&#xA;      &quot;balance&quot;: 0,&#xA;      &quot;price&quot;: 3099,&#xA;      &quot;image_url&quot;: &quot;/images/samsung-galaxy-s6-edge_2015335211_b.jpg&quot;,&#xA;      &quot;specification&quot;: {&#xA;        &quot;general&quot;: {&#xA;          &quot;date_announced&quot;: &quot;2015-03-03&quot;,&#xA;          &quot;network_technology&quot;: &quot;GSM 850 / 900 / 1800 / 1900\nHSDPA 850 / 900 / 1900 / 2100\nLTE 800 / 850 / 900 / 1800 / 1900&quot;&#xA;        },&#xA;        &quot;processor_memory&quot;: {&#xA;          &quot;sim&quot;: &quot;Micro SIM&quot;,&#xA;          &quot;cpu&quot;: &quot;Quad-core 1.3 GHz Cortex-A53, Quad-core 1.9 GHz Cortex-A57&quot;,&#xA;          &quot;ram&quot;: &quot;3 GB&quot;,&#xA;          &quot;internal_storage&quot;: &quot;32 GB&quot;,&#xA;          &quot;external_storage&quot;: &quot;MicroSD, up to 128 GB&quot;,&#xA;          &quot;gpu&quot;: &quot;Mali-T760&quot;,&#xA;          &quot;chipset&quot;: &quot;Exynos 7420&quot;&#xA;        },&#xA;        &quot;body&quot;: {&#xA;          &quot;dimensions&quot;: &quot;142.1 x 70.1 x 7 (height x width x thickness)(mm)&quot;,&#xA;          &quot;weight&quot;: &quot;132 g&quot;,&#xA;          &quot;available_colors&quot;: &quot;White Pearl, Black Sapphire, Gold Platinum, Green Emerald&quot;,&#xA;          &quot;qwerty_keypad&quot;: null&#xA;        },&#xA;        &quot;display&quot;: {&#xA;          &quot;screen_size&quot;: &quot;5.1 inch&quot;,&#xA;          &quot;resolution&quot;: &quot;1440 x 2560 pixels (576 ppi pixel density)&quot;,&#xA;          &quot;screen_color&quot;: &quot;Super AMOLED capacitive touchscreen, 16M colors&quot;,&#xA;          &quot;design&quot;: &quot;Candybar&quot;,&#xA;          &quot;screen_protection&quot;: &quot;Corning Gorilla Glass 4&quot;,&#xA;          &quot;multitouch&quot;: true&#xA;        },&#xA;        &quot;software&quot;: {&#xA;          &quot;platform_os&quot;: &quot;Android OS v5.0 (Lollipop)&quot;,&#xA;          &quot;java_j2me&quot;: &quot;via Java MIDP emulator&quot;,&#xA;          &quot;messaging&quot;: &quot;SMS, MMS, Email, Push Email, IM&quot;&#xA;        },&#xA;        &quot;sound&quot;: {&#xA;          &quot;alert&quot;: &quot;MP3, Vibration, WAV&quot;,&#xA;          &quot;3_5_mm_jack&quot;: true,&#xA;          &quot;extra_feature&quot;: &quot;MP3/WAV/WMA/eAAC+/FLAC player&quot;&#xA;        },&#xA;        &quot;battery&quot;: {&#xA;          &quot;type_capacity&quot;: &quot;Li-Ion 2600 mAh battery&quot;,&#xA;          &quot;stand_by&quot;: null,&#xA;          &quot;talk_time&quot;: null&#xA;        },&#xA;        &quot;entertainment&quot;: {&#xA;          &quot;fm_radio&quot;: null,&#xA;          &quot;tv_receiver&quot;: null&#xA;        },&#xA;        &quot;connectivity&quot;: {&#xA;          &quot;hspda&quot;: null,&#xA;          &quot;wlan&quot;: true,&#xA;          &quot;gprs&quot;: true,&#xA;          &quot;edge&quot;: true,&#xA;          &quot;wifi_hot_spot&quot;: true,&#xA;          &quot;gps&quot;: true,&#xA;          &quot;nfc_support&quot;: true,&#xA;          &quot;bluetooth&quot;: &quot;v4.0, A2DP, EDR, LE, apt-X&quot;,&#xA;          &quot;usb_port&quot;: true,&#xA;          &quot;sensor&quot;: &quot;Accelerometer, Barometer, Compass, Gesture, Gyro, Heart rate, Proximity&quot;&#xA;        },&#xA;        &quot;camera&quot;: {&#xA;          &quot;capacity&quot;: &quot;16 Megapixel&quot;,&#xA;          &quot;max_resolution&quot;: &quot;4992 x 3744&quot;,&#xA;          &quot;flash&quot;: true,&#xA;          &quot;video_recording&quot;: &quot;2160p@30fps, 1080p@60fps, 720p@120fps, hdr, dual-video rec&quot;,&#xA;          &quot;secondary_camera&quot;: &quot;5 MP, 1080p@30fps, dual video call, Auto HDR&quot;,&#xA;          &quot;extra_features&quot;: &quot;Phase detection autofocus, LED flash, Dual Shot, Simultaneous HD video and image recording, geo-tagging, touch focus, face/smile detection, HDR&quot;&#xA;        }&#xA;      }&#xA;    },&#xA;    {&#xA;      &quot;id&quot;: 3,&#xA;      &quot;name&quot;: &quot;LG G4&quot;,&#xA;      &quot;description&quot;: &quot;The LG G4 runs on Android OS, v5.1 (Lollipop) and is powered by Dual-core 1.8 GHz Cortex-A57 &amp; quad-core 1.44 GHz Cortex-A53 processor with 3GB RAM. It has a 5.5-inch, 1440 x 2560 pixel display. The LG G4 also comes with a 16.0-megapixel camera that is able to record videos at 2160p. It comes with 32GB of built-in storage, and is able to support microSD cards of up to 128GB.&quot;,&#xA;      &quot;balance&quot;: 0,&#xA;      &quot;price&quot;: 2499,&#xA;      &quot;image_url&quot;: &quot;/images/lg-g4_2015429144628_b.jpg&quot;,&#xA;      &quot;specification&quot;: {&#xA;        &quot;general&quot;: {&#xA;          &quot;date_announced&quot;: &quot;2015-04-29&quot;,&#xA;          &quot;network_technology&quot;: &quot;GSM / HSPA / LTE&quot;&#xA;        },&#xA;        &quot;processor_memory&quot;: {&#xA;          &quot;sim&quot;: &quot;Dual SIM&quot;,&#xA;          &quot;cpu&quot;: &quot;Dual-core 1.8 GHz Cortex-A57, Quad-core 1.44 GHz Cortex-A53&quot;,&#xA;          &quot;ram&quot;: &quot;3 GB&quot;,&#xA;          &quot;internal_storage&quot;: &quot;32 GB&quot;,&#xA;          &quot;external_storage&quot;: &quot;MicroSD, up to 128 GB&quot;,&#xA;          &quot;gpu&quot;: null,&#xA;          &quot;chipset&quot;: null&#xA;        },&#xA;        &quot;body&quot;: {&#xA;          &quot;dimensions&quot;: &quot;148.9 x 76.1 x 9.8 (height x width x thickness)(mm)&quot;,&#xA;          &quot;weight&quot;: &quot;155 g&quot;,&#xA;          &quot;available_colors&quot;: &quot;Grey, White, Gold, Leather Black, Leather Brown, Leather RedGrey,&quot;,&#xA;          &quot;qwerty_keypad&quot;: null&#xA;        },&#xA;        &quot;display&quot;: {&#xA;          &quot;screen_size&quot;: &quot;5.5 inch&quot;,&#xA;          &quot;resolution&quot;: &quot;1440 x 2560 pixels (538 ppi pixel density)&quot;,&#xA;          &quot;screen_color&quot;: &quot;IPS LCD capacitive touchscreen, 16M colors&quot;,&#xA;          &quot;design&quot;: &quot;Candybar&quot;,&#xA;          &quot;screen_protection&quot;: &quot;Corning Gorilla Glass 4&quot;,&#xA;          &quot;multitouch&quot;: true&#xA;        },&#xA;        &quot;software&quot;: {&#xA;          &quot;platform_os&quot;: &quot;Android OS v5.0 (Lollipop)&quot;,&#xA;          &quot;java_j2me&quot;: null,&#xA;          &quot;messaging&quot;: &quot;SMS, MMS, Email, Push Email, IM&quot;,&#xA;          &quot;others&quot;: &quot;Organizer, Document viewer, Photo viewer/editor&quot;&#xA;        },&#xA;        &quot;sound&quot;: {&#xA;          &quot;alert&quot;: &quot;MP3, Vibration, WAV&quot;,&#xA;          &quot;3_5_mm_jack&quot;: true,&#xA;          &quot;extra_feature&quot;: &quot;MP3/WAV/FLAC/eAAC+/WMA player&quot;&#xA;        },&#xA;        &quot;battery&quot;: {&#xA;          &quot;type_capacity&quot;: &quot;Li-Ion 3000 mAh battery&quot;,&#xA;          &quot;stand_by&quot;: &quot;Up to 375 h (3G)&quot;,&#xA;          &quot;talk_time&quot;: &quot;Up to 10 h (3G)&quot;&#xA;        },&#xA;        &quot;entertainment&quot;: {&#xA;          &quot;fm_radio&quot;: null,&#xA;          &quot;tv_receiver&quot;: null&#xA;        },&#xA;        &quot;connectivity&quot;: {&#xA;          &quot;hspda&quot;: null,&#xA;          &quot;wlan&quot;: true,&#xA;          &quot;gprs&quot;: null,&#xA;          &quot;edge&quot;: true,&#xA;          &quot;wifi_hot_spot&quot;: true,&#xA;          &quot;gps&quot;: true,&#xA;          &quot;nfc_support&quot;: true,&#xA;          &quot;bluetooth&quot;: &quot;v4.1, A2DP, LE, apt-X&quot;,&#xA;          &quot;usb_port&quot;: true,&#xA;          &quot;sensor&quot;: &quot;Accelerometer, Barometer, Compass, Gyro, Proximity&quot;&#xA;        },&#xA;        &quot;camera&quot;: {&#xA;          &quot;capacity&quot;: &quot;16 Megapixel&quot;,&#xA;          &quot;max_resolution&quot;: &quot;5312 x 2988&quot;,&#xA;          &quot;flash&quot;: null,&#xA;          &quot;video_recording&quot;: &quot;2160p@30fps, 1080p@60fps, optical stabilization, hdr, stereo sound rec&quot;,&#xA;          &quot;secondary_camera&quot;: &quot;8 MP, 1080p@30fps&quot;,&#xA;          &quot;extra_features&quot;: &quot;Phase detection/laser autofocus, optical image stabilization, dual-LED (dual tone) flash, 1/2.6\&quot; sensor size, simultaneous video and image recording, geo-tagging, face detection, HDR&quot;&#xA;        }&#xA;      }&#xA;    },&#xA;    {&#xA;      &quot;id&quot;: 4,&#xA;      &quot;name&quot;: &quot;HTC One M9&quot;,&#xA;      &quot;description&quot;: &quot;The HTC One M9 runs on (operating system) and is powered by Quad-core 1.5 GHz Cortex-A53 &amp; Quad-core 2 GHz Cortex-A57 processor with 3GB RAM. It has a 5.0-inch, 1080 x 1920 pixel display. The HTC One M9 also comes with a 20.7-megapixel camera that is able to record videos at 2160p. It comes with 32GB of built-in storage, and is able to support microSD cards of up to 128GB.&quot;,&#xA;      &quot;balance&quot;: 0,&#xA;      &quot;price&quot;: 2599,&#xA;      &quot;image_url&quot;: &quot;/images/htc-one-m9_201531281515_b.jpg&quot;,&#xA;      &quot;specification&quot;: {&#xA;        &quot;general&quot;: {&#xA;          &quot;date_announced&quot;: &quot;2015-03-12&quot;,&#xA;          &quot;network_technology&quot;: &quot;GSM / HSPA / LTE&quot;&#xA;        },&#xA;        &quot;processor_memory&quot;: {&#xA;          &quot;sim&quot;: &quot;Dual SIM&quot;,&#xA;          &quot;cpu&quot;: &quot;Quad-core 1.5 GHz Cortex-A53, Quad-core 2 GHz Cortex-A57&quot;,&#xA;          &quot;ram&quot;: &quot;3 GB&quot;,&#xA;          &quot;internal_storage&quot;: &quot;32 GB&quot;,&#xA;          &quot;external_storage&quot;: &quot;MicroSD, up to 128 GB&quot;,&#xA;          &quot;gpu&quot;: &quot;Adreno 430&quot;,&#xA;          &quot;chipset&quot;: null&#xA;        },&#xA;        &quot;body&quot;: {&#xA;          &quot;dimensions&quot;: &quot;144.6 x 69.7 x 9.6 (height x width x thickness)(mm)&quot;,&#xA;          &quot;weight&quot;: &quot;157 g&quot;,&#xA;          &quot;available_colors&quot;: &quot;Gunmetal Gray, Amber Gold, Silver/Rose gold, Gold/Pink&quot;,&#xA;          &quot;qwerty_keypad&quot;: null&#xA;        },&#xA;        &quot;display&quot;: {&#xA;          &quot;screen_size&quot;: &quot;5 inch&quot;,&#xA;          &quot;resolution&quot;: &quot;1080 x 1920 pixels (441 ppi pixel density)&quot;,&#xA;          &quot;screen_color&quot;: &quot;Super LCD3 capacitive touchscreen, 16M colors&quot;,&#xA;          &quot;design&quot;: &quot;Candybar&quot;,&#xA;          &quot;screen_protection&quot;: null,&#xA;          &quot;multitouch&quot;: true&#xA;        },&#xA;        &quot;software&quot;: {&#xA;          &quot;platform_os&quot;: &quot;Android OS v5.0 (Lollipop)&quot;,&#xA;          &quot;java_j2me&quot;: &quot;via Java MIDP emulator&quot;,&#xA;          &quot;messaging&quot;: &quot;SMS, MMS, Email, Push Email, IM&quot;,&#xA;          &quot;others&quot;: &quot;Organizer, Document viewer, Photo viewer/editor&quot;&#xA;        },&#xA;        &quot;sound&quot;: {&#xA;          &quot;alert&quot;: &quot;MP3, Vibration, WAV&quot;,&#xA;          &quot;3_5_mm_jack&quot;: true,&#xA;          &quot;extra_feature&quot;: null&#xA;        },&#xA;        &quot;battery&quot;: {&#xA;          &quot;type_capacity&quot;: &quot;Li-Po 2840 mAh battery&quot;,&#xA;          &quot;stand_by&quot;: &quot;Up to 391 h (2G) / Up to 402 h (3G)&quot;,&#xA;          &quot;talk_time&quot;: &quot;Up to 25 h 20 min (2G) / Up to 21 h 50 min (3G)&quot;&#xA;        },&#xA;        &quot;entertainment&quot;: {&#xA;          &quot;fm_radio&quot;: true,&#xA;          &quot;tv_receiver&quot;: null&#xA;        },&#xA;        &quot;connectivity&quot;: {&#xA;          &quot;hspda&quot;: null,&#xA;          &quot;wlan&quot;: true,&#xA;          &quot;gprs&quot;: true,&#xA;          &quot;edge&quot;: true,&#xA;          &quot;wifi_hot_spot&quot;: true,&#xA;          &quot;gps&quot;: true,&#xA;          &quot;nfc_support&quot;: true,&#xA;          &quot;bluetooth&quot;: &quot;v4.1, A2DP, LE, apt-X&quot;,&#xA;          &quot;usb_port&quot;: true,&#xA;          &quot;sensor&quot;: &quot;Accelerometer, Compass, Gyro, Proximity&quot;&#xA;        },&#xA;        &quot;camera&quot;: {&#xA;          &quot;capacity&quot;: &quot;20 Megapixel&quot;,&#xA;          &quot;max_resolution&quot;: &quot;5376 x 3752&quot;,&#xA;          &quot;flash&quot;: null,&#xA;          &quot;video_recording&quot;: &quot;2160p@30fps, 1080p@60fps, 720p@120fps, hdr, stereo sound rec&quot;,&#xA;          &quot;secondary_camera&quot;: &quot;4 MP, 1080p@30fps, HDR&quot;,&#xA;          &quot;extra_features&quot;: &quot;Autofocus, dual-LED (dual tone) flash, Automatic simultaneous video and image recording, geo-tagging, face/smile detection, HDR, panorama&quot;&#xA;        }&#xA;      }&#xA;    },&#xA;    {&#xA;      &quot;id&quot;: 5,&#xA;      &quot;name&quot;: &quot;Motorola Moto X&quot;,&#xA;      &quot;description&quot;: &quot;The Moto X from Motorola is now arriving in Malaysia after being announced back in August 2013 and is expected to be a pretty efficient device for its price range - with a dual-core 1.7GHz Krait processor, Adreno 320 GPU, 720x1280 4.7\&quot; display, excellent 2GB of RAM, expandable storage up to 32GB, and a whopping 18 color options for the casing.&quot;,&#xA;      &quot;balance&quot;: 3,&#xA;      &quot;price&quot;: 1499,&#xA;      &quot;image_url&quot;: &quot;/images/motorola-moto-x_2013722143827_b.jpg&quot;,&#xA;      &quot;specification&quot;: {&#xA;        &quot;general&quot;: {&#xA;          &quot;date_announced&quot;: &quot;2013-08-05&quot;,&#xA;          &quot;network_technology&quot;: &quot;GSM 850 / 900 / 1800 / 1900\nHSDPA\nLTE&quot;&#xA;        },&#xA;        &quot;processor_memory&quot;: {&#xA;          &quot;sim&quot;: true,&#xA;          &quot;cpu&quot;: &quot;Dual-core 1.7 GHz Krait&quot;,&#xA;          &quot;ram&quot;: &quot;2 GB&quot;,&#xA;          &quot;internal_storage&quot;: &quot;16 GB&quot;,&#xA;          &quot;external_storage&quot;: null,&#xA;          &quot;gpu&quot;: &quot;Adreno 320&quot;,&#xA;          &quot;chipset&quot;: &quot;Qualcomm MSM8960Pro Snapdragon&quot;&#xA;        },&#xA;        &quot;body&quot;: {&#xA;          &quot;dimensions&quot;: &quot;Qualcomm MSM8960Pro Snapdragon&quot;,&#xA;          &quot;weight&quot;: &quot;130 g&quot;,&#xA;          &quot;available_colors&quot;: &quot;Black, White (front panel), 18 color options (back panel)&quot;,&#xA;          &quot;qwerty_keypad&quot;: null&#xA;        },&#xA;        &quot;display&quot;: {&#xA;          &quot;screen_size&quot;: &quot;4.7 inch&quot;,&#xA;          &quot;resolution&quot;: &quot;720 x 1280 pixels&quot;,&#xA;          &quot;screen_color&quot;: &quot;Capacitive touchscreen, 16M colors&quot;,&#xA;          &quot;design&quot;: &quot;Candybar&quot;,&#xA;          &quot;screen_protection&quot;: &quot;Corning Gorilla Glass&quot;,&#xA;          &quot;multitouch&quot;: true&#xA;        },&#xA;        &quot;software&quot;: {&#xA;          &quot;platform_os&quot;: &quot;Android OS, v4.2.2 (Jelly Bean)&quot;,&#xA;          &quot;java_j2me&quot;: null,&#xA;          &quot;messaging&quot;: &quot;SMS, MMS, Email, Push Email, IM&quot;,&#xA;          &quot;others&quot;: &quot;SNS integration, Google Search, Maps, Gmail, YouTube, Calendar, Google Talk, Organizer, Document viewer, Photo viewer/editor&quot;&#xA;        },&#xA;        &quot;sound&quot;: {&#xA;          &quot;alert&quot;: &quot;MP3, Vibration&quot;,&#xA;          &quot;3_5_mm_jack&quot;: true,&#xA;          &quot;extra_feature&quot;: null&#xA;        },&#xA;        &quot;battery&quot;: {&#xA;          &quot;type_capacity&quot;: &quot;Li-Ion 2200 mAh battery&quot;,&#xA;          &quot;stand_by&quot;: &quot;Up to 576 h&quot;,&#xA;          &quot;talk_time&quot;: &quot;Up to 13 h&quot;&#xA;        },&#xA;        &quot;entertainment&quot;: {&#xA;          &quot;fm_radio&quot;: null,&#xA;          &quot;tv_receiver&quot;: null&#xA;        },&#xA;        &quot;connectivity&quot;: {&#xA;          &quot;hspda&quot;: &quot;HSDPA, 42.2 Mbps; HSUPA, 5.76 Mbps; LTE, Cat3, 50 Mbps UL, 100 Mbps DL / EV-DO Rev. A, up to 3.1 Mbp&quot;,&#xA;          &quot;wlan&quot;: true,&#xA;          &quot;gprs&quot;: true,&#xA;          &quot;edge&quot;: true,&#xA;          &quot;wifi_hot_spot&quot;: true,&#xA;          &quot;gps&quot;: true,&#xA;          &quot;nfc_support&quot;: null,&#xA;          &quot;bluetooth&quot;: &quot;v4.0 with A2DP, LE, EDR&quot;,&#xA;          &quot;usb_port&quot;: null,&#xA;          &quot;sensor&quot;: &quot;Accelerometer, Barometer, Compass, Gyro, Proximity, Temperature&quot;&#xA;        },&#xA;        &quot;camera&quot;: {&#xA;          &quot;capacity&quot;: &quot;10 Megapixel&quot;,&#xA;          &quot;max_resolution&quot;: &quot;4320 x 2432&quot;,&#xA;          &quot;flash&quot;: true,&#xA;          &quot;video_recording&quot;: &quot;1080p@30fps&quot;,&#xA;          &quot;secondary_camera&quot;: &quot;2 MP, 1080p&quot;,&#xA;          &quot;extra_features&quot;: &quot;autofocus, LED flash, Geo-tagging, touch focus, face detection, panorama, HDR&quot;&#xA;        }&#xA;      }&#xA;    },&#xA;    {&#xA;      &quot;id&quot;: 6,&#xA;      &quot;name&quot;: &quot;LG G3&quot;,&#xA;      &quot;description&quot;: &quot;The LG G3 runs on Android OS, v4.4.2 (KitKat) and is powered by Quad-core 2.26 GHz Krait 400 processor with 3GB RAM. It has a 5.5-inch, 1440 x 2560 pixel display. The LG G3 also comes with a 13.0-megapixel camera that is able to record videos at 1080p. It comes with 32GB of built-in storage, and is able to support microSD cards of up to 32GB.&quot;,&#xA;      &quot;balance&quot;: 4,&#xA;      &quot;price&quot;: 1699,&#xA;      &quot;image_url&quot;: &quot;/images/lg-g3_2014613153553_b.jpg&quot;,&#xA;      &quot;specification&quot;: {&#xA;        &quot;general&quot;: {&#xA;          &quot;date_announced&quot;: &quot;2014-06-09&quot;,&#xA;          &quot;network_technology&quot;: &quot;GSM 850 / 900 / 1800 / 1900\nCDMA 800 / 1900\nHSDPA 850 / 900 / 1900 / 2100\nLTE 800 / 1800&quot;&#xA;        },&#xA;        &quot;processor_memory&quot;: {&#xA;          &quot;sim&quot;: true,&#xA;          &quot;cpu&quot;: &quot;Quad-core 2.5 GHz Krait 400&quot;,&#xA;          &quot;ram&quot;: &quot;3 GB&quot;,&#xA;          &quot;internal_storage&quot;: &quot;32 GB&quot;,&#xA;          &quot;external_storage&quot;: &quot;microSD, up to 32 GB&quot;,&#xA;          &quot;gpu&quot;: &quot;Adreno 330&quot;,&#xA;          &quot;chipset&quot;: &quot;Qualcomm MSM8974AA Snapdragon&quot;&#xA;        },&#xA;        &quot;body&quot;: {&#xA;          &quot;dimensions&quot;: &quot;146.3 x 74.6 x 8.9 (height x width x thickness)(mm)&quot;,&#xA;          &quot;weight&quot;: &quot;149 g&quot;,&#xA;          &quot;available_colors&quot;: &quot;Metallic Black, Silk White, Shine Gold, Moon Violet, Burgundy Red&quot;,&#xA;          &quot;qwerty_keypad&quot;: null&#xA;        },&#xA;        &quot;display&quot;: {&#xA;          &quot;screen_size&quot;: &quot;5.5 inch&quot;,&#xA;          &quot;resolution&quot;: &quot;1440 x 2560 pixels&quot;,&#xA;          &quot;screen_color&quot;: &quot;True HD-IPS + LCD capacitive touchscreen, 16M colors&quot;,&#xA;          &quot;design&quot;: &quot;Candybar&quot;,&#xA;          &quot;screen_protection&quot;: &quot;Corning Gorilla Glass 3&quot;,&#xA;          &quot;multitouch&quot;: true&#xA;        },&#xA;        &quot;software&quot;: {&#xA;          &quot;platform_os&quot;: &quot;Android OS, v4.4.2 (KitKat)&quot;,&#xA;          &quot;java_j2me&quot;: &quot;via Java MIDP emulator&quot;,&#xA;          &quot;messaging&quot;: &quot;SMS, MMS, Email, Push Email, IM&quot;,&#xA;          &quot;others&quot;: &quot;SNS applications, Google Search, Maps, Gmail, YouTube, Google Talk, Document viewer, Photo viewer/editor&quot;&#xA;        },&#xA;        &quot;sound&quot;: {&#xA;          &quot;alert&quot;: &quot;MP3, Vibration, WAV&quot;,&#xA;          &quot;3_5_mm_jack&quot;: true,&#xA;          &quot;extra_feature&quot;: &quot;MP3/WAV/FLAC/eAAC+/WMA player&quot;&#xA;        },&#xA;        &quot;battery&quot;: {&#xA;          &quot;type_capacity&quot;: &quot;Li-Ion 3000 mAh battery&quot;,&#xA;          &quot;stand_by&quot;: null,&#xA;          &quot;talk_time&quot;: null&#xA;        },&#xA;        &quot;entertainment&quot;: {&#xA;          &quot;fm_radio&quot;: null,&#xA;          &quot;tv_receiver&quot;: null&#xA;        },&#xA;        &quot;connectivity&quot;: {&#xA;          &quot;hspda&quot;: &quot;HSDPA, 42 Mbps; HSUPA, 21 Mbps; LTE, Cat4, 50 Mbps UL, 150 Mbps DL/ EV-DO Rev. A, up to 3.1 Mbps&quot;,&#xA;          &quot;wlan&quot;: &quot;Class 12&quot;,&#xA;          &quot;gprs&quot;: true,&#xA;          &quot;edge&quot;: &quot;Class 12&quot;,&#xA;          &quot;wifi_hot_spot&quot;: true,&#xA;          &quot;gps&quot;: true,&#xA;          &quot;nfc_support&quot;: true,&#xA;          &quot;bluetooth&quot;: &quot;v4.0 with A2DP, LE&quot;,&#xA;          &quot;usb_port&quot;: true,&#xA;          &quot;sensor&quot;: &quot;Accelerometer, Compass, Gyro, Proximity&quot;&#xA;        },&#xA;        &quot;camera&quot;: {&#xA;          &quot;capacity&quot;: &quot;13 Megapixel&quot;,&#xA;          &quot;max_resolution&quot;: &quot;4160 x 3120&quot;,&#xA;          &quot;flash&quot;: true,&#xA;          &quot;video_recording&quot;: &quot;2160p@30fps, 1080p@60fps, hdr, stereo sound rec., video stabilization&quot;,&#xA;          &quot;secondary_camera&quot;: &quot;2.1 MP, 1080p@30fps&quot;,&#xA;          &quot;extra_features&quot;: &quot;Autofocus, optical image stabilization, LED flash, Simultaneous video and image recording, geo-tagging, face detection, HDR&quot;&#xA;        }&#xA;      }&#xA;    },&#xA;    {&#xA;      &quot;id&quot;: 7,&#xA;      &quot;name&quot;: &quot;Apple iPhone 6&quot;,&#xA;      &quot;description&quot;: &quot;The Apple iPhone 6 runs on iOS 8 and is powered by Dual-core 1.4 GHz Cyclone (ARM v8-based) processor with 1GB RAM. It has a 4.7-inch, 750 x 1334 pixel display. The Apple iPhone 6 also comes with a 8.0-megapixel camera that is able to record videos at 1080p. It comes with 16/64/128GB of built-in storage.&quot;,&#xA;      &quot;balance&quot;: 0,&#xA;      &quot;price&quot;: 2549,&#xA;      &quot;image_url&quot;: &quot;/images/apple-iphone-6_20149111340_b.jpg&quot;,&#xA;      &quot;specification&quot;: {&#xA;        &quot;general&quot;: {&#xA;          &quot;date_announced&quot;: &quot;2014-09-11&quot;,&#xA;          &quot;network_technology&quot;: &quot;GSM 850 / 900 / 1800 / 1900\nCDMA 800 / 1700 / 1900 / 2100\nLTE&quot;&#xA;        },&#xA;        &quot;processor_memory&quot;: {&#xA;          &quot;sim&quot;: &quot;Nano SIM&quot;,&#xA;          &quot;cpu&quot;: &quot;Dual-core 1.4 GHz Cyclone (ARM v8-based)&quot;,&#xA;          &quot;ram&quot;: &quot;1 GB&quot;,&#xA;          &quot;internal_storage&quot;: &quot;16/64/128GB&quot;,&#xA;          &quot;external_storage&quot;: null,&#xA;          &quot;gpu&quot;: &quot;PowerVR GX6650&quot;,&#xA;          &quot;chipset&quot;: &quot;Apple A8&quot;&#xA;        },&#xA;        &quot;body&quot;: {&#xA;          &quot;dimensions&quot;: &quot;137.5 x 67 x 7 (height x width x thickness)(mm)&quot;,&#xA;          &quot;weight&quot;: &quot;129 g&quot;,&#xA;          &quot;available_colors&quot;: &quot;Space Gray, Silver, Gold&quot;,&#xA;          &quot;qwerty_keypad&quot;: null&#xA;        },&#xA;        &quot;display&quot;: {&#xA;          &quot;screen_size&quot;: &quot;4.7 inch&quot;,&#xA;          &quot;resolution&quot;: &quot;750 x 1334 pixels&quot;,&#xA;          &quot;screen_color&quot;: &quot;LED-backlit IPS LCD, capacitive touchscreen, 16M colors&quot;,&#xA;          &quot;design&quot;: &quot;Candybar&quot;,&#xA;          &quot;screen_protection&quot;: &quot;Oleophobic coating&quot;,&#xA;          &quot;multitouch&quot;: true&#xA;        },&#xA;        &quot;software&quot;: {&#xA;          &quot;platform_os&quot;: &quot;iOS 8.1&quot;,&#xA;          &quot;java_j2me&quot;: null,&#xA;          &quot;messaging&quot;: &quot;SMS, MMS, Email, Push Email, IM&quot;,&#xA;          &quot;others&quot;: &quot;Airdrop file sharing, Siri natural language commands and dictation, iCloud cloud service, iCloud Keychain, Twitter and Facebook integration, TV-out, Maps, iBooks PDF reader, Audio/video player/editor, Organizer, Document viewer/editor, Image viewer/editor, Voice memo/dial/command&quot;&#xA;        },&#xA;        &quot;sound&quot;: {&#xA;          &quot;alert&quot;: null,&#xA;          &quot;3_5_mm_jack&quot;: true,&#xA;          &quot;extra_feature&quot;: null&#xA;        },&#xA;        &quot;battery&quot;: {&#xA;          &quot;type_capacity&quot;: &quot;Li-Po 1810 mAh battery&quot;,&#xA;          &quot;stand_by&quot;: &quot;(2G) / Up to 250 h (3G)&quot;,&#xA;          &quot;talk_time&quot;: &quot;(2G) / Up to 14 h (3G)&quot;&#xA;        },&#xA;        &quot;entertainment&quot;: {&#xA;          &quot;fm_radio&quot;: null,&#xA;          &quot;tv_receiver&quot;: null&#xA;        },&#xA;        &quot;connectivity&quot;: {&#xA;          &quot;hspda&quot;: &quot;HSDPA, 42 Mbps; HSUPA, 5.76 Mbps; EV-DO Rev. A, up to 3.1 Mbps; LTE, Cat4, 150 Mbps DL, 50 Mbps UL&quot;,&#xA;          &quot;wlan&quot;: true,&#xA;          &quot;gprs&quot;: true,&#xA;          &quot;edge&quot;: true,&#xA;          &quot;wifi_hot_spot&quot;: true,&#xA;          &quot;gps&quot;: true,&#xA;          &quot;nfc_support&quot;: true,&#xA;          &quot;bluetooth&quot;: &quot;v4.0 with A2DP&quot;,&#xA;          &quot;usb_port&quot;: true,&#xA;          &quot;sensor&quot;: &quot;Accelerometer, Compass, Gyro, Proximity&quot;&#xA;        },&#xA;        &quot;camera&quot;: {&#xA;          &quot;capacity&quot;: &quot;8 Megapixel&quot;,&#xA;          &quot;max_resolution&quot;: &quot;3264 x 2448&quot;,&#xA;          &quot;flash&quot;: true,&#xA;          &quot;video_recording&quot;: &quot;1080p@60fps, 720p@240fps&quot;,&#xA;          &quot;secondary_camera&quot;: &quot;1.2 MP, 720p, burst, HDR&quot;,&#xA;          &quot;extra_features&quot;: &quot;Autofocus, dual-LED (dual tone) flash, 1.5 µm pixel size, geo-tagging, simultaneous HD video and image recording, touch focus, face and smile detection, image stabilization, panorama, HDR&quot;&#xA;        }&#xA;      }&#xA;    },&#xA;    {&#xA;      &quot;id&quot;: 8,&#xA;      &quot;name&quot;: &quot;Sony Xperia Z3&quot;,&#xA;      &quot;description&quot;: &quot;The Sony Xperia Z3 runs on Android OS, v4.4.4 (KitKat) and is powered by Quad-core 2.5 GHz Krait 400 processor with 3GB RAM. The Sony Xperia Z3 also comes with a 20.7-megapixel camera that is able to record videos at 2160p. It comes with 16/32GB of built-in storage, and is able to support microSD cards of up to 128GB.&quot;,&#xA;      &quot;balance&quot;: 0,&#xA;      &quot;price&quot;: 1799,&#xA;      &quot;image_url&quot;: &quot;/images/sony-xperia-z3_201411138515_b.jpg&quot;,&#xA;      &quot;specification&quot;: {&#xA;        &quot;general&quot;: {&#xA;          &quot;date_announced&quot;: &quot;2014-08-22&quot;,&#xA;          &quot;network_technology&quot;: &quot;GSM 850 / 900 / 1800 / 1900\nLTE 700/800/850/900/1700/1800/1900/2100/2600&quot;&#xA;        },&#xA;        &quot;processor_memory&quot;: {&#xA;          &quot;sim&quot;: &quot;Nano SIM&quot;,&#xA;          &quot;cpu&quot;: &quot;Quad-core 2.5 GHz Krait 400&quot;,&#xA;          &quot;ram&quot;: &quot;3 GB&quot;,&#xA;          &quot;internal_storage&quot;: &quot;16/32 G&quot;,&#xA;          &quot;external_storage&quot;: &quot;MicroSD, up to 128 GB&quot;,&#xA;          &quot;gpu&quot;: &quot;Adreno 330&quot;,&#xA;          &quot;chipset&quot;: &quot;Qualcomm MSM8974AC Snapdragon 801&quot;&#xA;        },&#xA;        &quot;body&quot;: {&#xA;          &quot;dimensions&quot;: &quot;146 x 72 x 7.3 (height x width x thickness)(mm)&quot;,&#xA;          &quot;weight&quot;: &quot;152 g&quot;,&#xA;          &quot;available_colors&quot;: &quot;Black, White, Copper, Silver Green&quot;,&#xA;          &quot;qwerty_keypad&quot;: null&#xA;        },&#xA;        &quot;display&quot;: {&#xA;          &quot;screen_size&quot;: &quot;5.2 inch&quot;,&#xA;          &quot;resolution&quot;: &quot;1080 x 1920 pixels&quot;,&#xA;          &quot;screen_color&quot;: &quot;IPS LCD capacitive touchscreen, 16M colors&quot;,&#xA;          &quot;design&quot;: &quot;Candybar&quot;,&#xA;          &quot;screen_protection&quot;: null,&#xA;          &quot;multitouch&quot;: true&#xA;        },&#xA;        &quot;software&quot;: {&#xA;          &quot;platform_os&quot;: &quot;Android OS, v4.4.4 (KitKat)&quot;,&#xA;          &quot;java_j2me&quot;: &quot;via Java MIDP emulator&quot;,&#xA;          &quot;messaging&quot;: &quot;SMS, MMS, Email, Push Email, IM&quot;,&#xA;          &quot;others&quot;: &quot;SNS applications, Google Search, Maps, Gmail, YouTube, Google Talk, Document viewer, Photo viewer/editor&quot;&#xA;        },&#xA;        &quot;sound&quot;: {&#xA;          &quot;alert&quot;: &quot;MP3, Vibration, WAV&quot;,&#xA;          &quot;3_5_mm_jack&quot;: true,&#xA;          &quot;extra_feature&quot;: &quot;MP3/eAAC+/WAV/Flac player&quot;&#xA;        },&#xA;        &quot;battery&quot;: {&#xA;          &quot;type_capacity&quot;: &quot;Li-Ion 3100 mAh battery&quot;,&#xA;          &quot;stand_by&quot;: &quot;Up to 890 h (2G) / Up to 740 h (3G)&quot;,&#xA;          &quot;talk_time&quot;: &quot;Up to 14 h (2G) / Up to 16 h (3G)&quot;&#xA;        },&#xA;        &quot;entertainment&quot;: {&#xA;          &quot;fm_radio&quot;: null,&#xA;          &quot;tv_receiver&quot;: null&#xA;        },&#xA;        &quot;connectivity&quot;: {&#xA;          &quot;hspda&quot;: &quot;HSDPA, 42 Mbps; HSUPA, 5.8 Mbps; LTE, Cat4, 50 Mbps UL, 150 Mbps DL&quot;,&#xA;          &quot;wlan&quot;: true,&#xA;          &quot;gprs&quot;: true,&#xA;          &quot;edge&quot;: true,&#xA;          &quot;wifi_hot_spot&quot;: true,&#xA;          &quot;gps&quot;: true,&#xA;          &quot;nfc_support&quot;: true,&#xA;          &quot;bluetooth&quot;: &quot;v4.0, A2DP&quot;,&#xA;          &quot;usb_port&quot;: true,&#xA;          &quot;sensor&quot;: &quot;Accelerometer, Barometer, Compass, Gyro, Proximity&quot;&#xA;        },&#xA;        &quot;camera&quot;: {&#xA;          &quot;capacity&quot;: &quot;20.7 Megapixel&quot;,&#xA;          &quot;max_resolution&quot;: &quot;5248 x 3936&quot;,&#xA;          &quot;flash&quot;: true,&#xA;          &quot;video_recording&quot;: &quot;2160p@30fps, 1080p@60fps, 720p@120fps, hdr&quot;,&#xA;          &quot;secondary_camera&quot;: &quot;2.2 MP, 1080p@30fps&quot;,&#xA;          &quot;extra_features&quot;: &quot;Autofocus, LED flash, 1/2.3\&quot; sensor size, geo-tagging, touch focus, face detection, image stabilization, HDR, panorama&quot;&#xA;        }&#xA;      }&#xA;    },&#xA;    {&#xA;      &quot;id&quot;: 9,&#xA;      &quot;name&quot;: &quot;Samsung Galaxy Note 4&quot;,&#xA;      &quot;description&quot;: &quot;The Samsung Galaxy Note 4 runs on Android OS, v4.4.4 (KitKat) and is powered by Quad-core 2.7 GHz Krait 450 &amp; Quad-core 1.3 GHz Cortex-A53 processor with 3GB RAM. It has a 5.7-inch, 1440 x 2560 pixel display. The Samsung Galaxy Note 4 also comes with a 16.0-megapixel camera that is able to record videos at 2160p. It comes with 32GB of built-in storage, and is able to support microSD cards of up to 64GB.&quot;,&#xA;      &quot;balance&quot;: 5,&#xA;      &quot;price&quot;: 2499,&#xA;      &quot;image_url&quot;: &quot;/images/samsung-galaxy-note-4_20149821639_b.jpg&quot;,&#xA;      &quot;specification&quot;: {&#xA;        &quot;general&quot;: {&#xA;          &quot;date_announced&quot;: &quot;2014-09-08&quot;,&#xA;          &quot;network_technology&quot;: &quot;GSM 850 / 900 / 1800 / 1900\nHSDPA 850 / 900 / 1900 / 2100\nLTE 800 / 850 / 900 / 1800 / 2100&quot;&#xA;        },&#xA;        &quot;processor_memory&quot;: {&#xA;          &quot;sim&quot;: &quot;Micro SIM&quot;,&#xA;          &quot;cpu&quot;: &quot;Quad-core 2.7 GHz Krait 450, Quad-core 1.3 GHz Cortex-A53&quot;,&#xA;          &quot;ram&quot;: &quot;3 GB&quot;,&#xA;          &quot;internal_storage&quot;: &quot;32 GB&quot;,&#xA;          &quot;external_storage&quot;: &quot;microSD, up to 64 GB&quot;,&#xA;          &quot;gpu&quot;: &quot;Adreno 420&quot;,&#xA;          &quot;chipset&quot;: &quot;Qualcomm Snapdragon 805&quot;&#xA;        },&#xA;        &quot;body&quot;: {&#xA;          &quot;dimensions&quot;: &quot;153.5 x 78.6 x 8.5 (height x width x thickness)(mm)&quot;,&#xA;          &quot;weight&quot;: &quot;176 g&quot;,&#xA;          &quot;available_colors&quot;: &quot;Frosted white, Charcoal black, Bronze Gold, Blossom Pink&quot;,&#xA;          &quot;qwerty_keypad&quot;: null&#xA;        },&#xA;        &quot;display&quot;: {&#xA;          &quot;screen_size&quot;: &quot;5.7 inch&quot;,&#xA;          &quot;resolution&quot;: &quot;1440 x 2560 pixels&quot;,&#xA;          &quot;screen_color&quot;: &quot;Super AMOLED capacitive touchscreen, 16M colors&quot;,&#xA;          &quot;design&quot;: &quot;Candybar&quot;,&#xA;          &quot;screen_protection&quot;: &quot;Corning Gorilla Glass 3&quot;,&#xA;          &quot;multitouch&quot;: true&#xA;        },&#xA;        &quot;software&quot;: {&#xA;          &quot;platform_os&quot;: &quot;Android OS, v4.4.4 (KitKat)&quot;,&#xA;          &quot;java_j2me&quot;: &quot;via Java MIDP emulator&quot;,&#xA;          &quot;messaging&quot;: &quot;SMS, MMS, Email, Push Email, IM, RSS&quot;,&#xA;          &quot;others&quot;: &quot;SNS applications, Google Search, Maps, Gmail, YouTube, Google Talk, Document viewer, Photo viewer/editor&quot;&#xA;        },&#xA;        &quot;sound&quot;: {&#xA;          &quot;alert&quot;: &quot;MP3, Vibration, WAV&quot;,&#xA;          &quot;3_5_mm_jack&quot;: true,&#xA;          &quot;extra_feature&quot;: &quot;MP3/WAV/eAAC+/AC3/FLAC player&quot;&#xA;        },&#xA;        &quot;battery&quot;: {&#xA;          &quot;type_capacity&quot;: &quot;3220 mAh battery&quot;,&#xA;          &quot;stand_by&quot;: null,&#xA;          &quot;talk_time&quot;: null&#xA;        },&#xA;        &quot;entertainment&quot;: {&#xA;          &quot;fm_radio&quot;: null,&#xA;          &quot;tv_receiver&quot;: null&#xA;        },&#xA;        &quot;connectivity&quot;: {&#xA;          &quot;hspda&quot;: &quot;HSDPA, 42 Mbps; HSUPA; LTE, Cat4 (N910C), Cat6 (N910S), 50 Mbps UL, 300 Mbps (N910S), 150 Mbps (N910&quot;,&#xA;          &quot;wlan&quot;: true,&#xA;          &quot;gprs&quot;: true,&#xA;          &quot;edge&quot;: true,&#xA;          &quot;wifi_hot_spot&quot;: true,&#xA;          &quot;gps&quot;: true,&#xA;          &quot;nfc_support&quot;: true,&#xA;          &quot;bluetooth&quot;: &quot;v4.0 with A2DP, LE, EDR&quot;,&#xA;          &quot;usb_port&quot;: true,&#xA;          &quot;sensor&quot;: &quot;Accelerometer, Barometer, Compass, Gesture, Gyro, Humidity, Proximity, Temperature&quot;&#xA;        },&#xA;        &quot;camera&quot;: {&#xA;          &quot;capacity&quot;: &quot;16 Megapixel&quot;,&#xA;          &quot;max_resolution&quot;: &quot;3456 x 4608&quot;,&#xA;          &quot;flash&quot;: true,&#xA;          &quot;video_recording&quot;: &quot;2160p@30fps, 1080p@60fps&quot;,&#xA;          &quot;secondary_camera&quot;: &quot;3.7 MP, 1080p@30fps&quot;,&#xA;          &quot;extra_features&quot;: &quot;Dual Shot, Simultaneous HD video and image recording, geo-tagging, touch focus, face and smile detection, image stabilization, panorama, HDR, optical image stabilization, autofocus, LED flash&quot;&#xA;        }&#xA;      }&#xA;    }&#xA;  ]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/product/{id}:api-config">
        <set-payload value="[&#xA;    {&#xA;      &quot;id&quot;: 1,&#xA;      &quot;name&quot;: &quot;Samsung Galaxy S6&quot;,&#xA;      &quot;description&quot;: &quot;The Samsung Galaxy S6 runs on Android OS, v5.0 (Lollipop) and is powered by Quad-core 1.3 GHz Cortex-A53 &amp; Quad-core 1.9 GHz Cortex-A57 processor with 3GB RAM. It has a 5.1-inch, 1440 x 2560 pixel display. The Samsung Galaxy S6 also comes with a 16.0-megapixel camera that is able to record videos at 2160p. It comes with 32GB of built-in storage, and is able to support microSD cards of up to 128GB.&quot;,&#xA;      &quot;balance&quot;: 2,&#xA;      &quot;price&quot;: 2599,&#xA;      &quot;image_url&quot;: &quot;/images/samsung-galaxy-s6_20153341739_b.jpg&quot;,&#xA;      &quot;specification&quot;: {&#xA;        &quot;general&quot;: {&#xA;          &quot;date_announced&quot;: &quot;2015-03-03&quot;,&#xA;          &quot;network_technology&quot;: &quot;GSM 850 / 900 / 1800 / 1900\nHSDPA 850 / 900 / 1900 / 2100\nLTE 800 / 850 / 900 / 1800 / 1900&quot;&#xA;        },&#xA;        &quot;processor_memory&quot;: {&#xA;          &quot;sim&quot;: &quot;Nano SIM&quot;,&#xA;          &quot;cpu&quot;: &quot;Quad-core 1.5 GHz Cortex-A53, Quad-core 2.1 GHz Cortex-A57&quot;,&#xA;          &quot;ram&quot;: &quot;3 GB&quot;,&#xA;          &quot;internal_storage&quot;: &quot;32 GB&quot;,&#xA;          &quot;external_storage&quot;: null,&#xA;          &quot;gpu&quot;: &quot;Mali-T760&quot;,&#xA;          &quot;chipset&quot;: &quot;Exynos 7420&quot;&#xA;        },&#xA;        &quot;body&quot;: {&#xA;          &quot;dimensions&quot;: &quot;143.4 x 70.5 x 6.8 (height x width x thickness)(mm)&quot;,&#xA;          &quot;weight&quot;: &quot;138 g&quot;,&#xA;          &quot;available_colors&quot;: &quot;Charcoal Black, Copper Gold, Electric Blue, Shimmery White&quot;,&#xA;          &quot;qwerty_keypad&quot;: null&#xA;        },&#xA;        &quot;display&quot;: {&#xA;          &quot;screen_size&quot;: &quot;5.1 inch&quot;,&#xA;          &quot;resolution&quot;: &quot;1440 x 2560 pixels (577 ppi pixel density)&quot;,&#xA;          &quot;screen_color&quot;: &quot;Super AMOLED capacitive touchscreen, 16M colors&quot;,&#xA;          &quot;design&quot;: &quot;Candybar&quot;,&#xA;          &quot;screen_protection&quot;: &quot;Corning Gorilla Glass 4&quot;,&#xA;          &quot;multitouch&quot;: true&#xA;        },&#xA;        &quot;software&quot;: {&#xA;          &quot;platform_os&quot;: &quot;Android OS v5.0 (Lollipop)&quot;,&#xA;          &quot;java_j2me&quot;: &quot;via Java MIDP emulator&quot;,&#xA;          &quot;messaging&quot;: &quot;SMS, MMS, Email, Push Email, IM&quot;,&#xA;          &quot;others&quot;: &quot;SNS applications, Google Search, Maps, Gmail, YouTube, Google Talk, Document viewer, Photo viewer/editor&quot;&#xA;        },&#xA;        &quot;sound&quot;: {&#xA;          &quot;alert&quot;: &quot;MP3, Vibration, WAV&quot;,&#xA;          &quot;3_5_mm_jack&quot;: true,&#xA;          &quot;extra_feature&quot;: &quot;MP3/WAV/WMA/eAAC+/FLAC player&quot;&#xA;        },&#xA;        &quot;battery&quot;: {&#xA;          &quot;type_capacity&quot;: &quot;Li-Ion 2550 mAh battery&quot;,&#xA;          &quot;stand_by&quot;: null,&#xA;          &quot;talk_time&quot;: null&#xA;        },&#xA;        &quot;entertainment&quot;: {&#xA;          &quot;fm_radio&quot;: null,&#xA;          &quot;tv_receiver&quot;: null&#xA;        },&#xA;        &quot;connectivity&quot;: {&#xA;          &quot;hspda&quot;: &quot;HSPA 42.2/5.76 Mbps, LTE Cat6 300/50 Mbps&quot;,&#xA;          &quot;wlan&quot;: true,&#xA;          &quot;gprs&quot;: true,&#xA;          &quot;edge&quot;: true,&#xA;          &quot;wifi_hot_spot&quot;: true,&#xA;          &quot;gps&quot;: true,&#xA;          &quot;nfc_support&quot;: true,&#xA;          &quot;bluetooth&quot;: &quot;v4.0, A2DP, EDR, LE, apt-X&quot;,&#xA;          &quot;usb_port&quot;: true,&#xA;          &quot;sensor&quot;: &quot;Accelerometer, Barometer, Compass, Gesture, Gyro, Heart rate, Proximity&quot;&#xA;        },&#xA;        &quot;camera&quot;: {&#xA;          &quot;capacity&quot;: &quot;16 Megapixel&quot;,&#xA;          &quot;max_resolution&quot;: &quot;4992 x 3744&quot;,&#xA;          &quot;flash&quot;: true,&#xA;          &quot;video_recording&quot;: &quot;2160p@30fps, 1080p@60fps, 720p@120fps, hdr, dual-video rec&quot;,&#xA;          &quot;secondary_camera&quot;: &quot;5 MP, 1080p@30fps, dual video call, Auto HDR&quot;,&#xA;          &quot;extra_features&quot;: &quot;Phase detection autofocus, LED flash, Dual Shot, Simultaneous HD video and image recording, geo-tagging, touch focus, face/smile detection, HDR&quot;&#xA;        }&#xA;      }&#xA;    },&#xA;    {&#xA;      &quot;id&quot;: 10,&#xA;      &quot;name&quot;: &quot;Xiaomi Redmi 2&quot;,&#xA;      &quot;description&quot;: &quot;The Xiaomi Redmi 2 runs on Android OS, v4.4.4 (KitKat) and is powered by Quad-core 1.2 GHz Cortex-A53 processor with 1/2GB RAM. It has a 4.7-inch, 720 x 1280 pixel display. The Xiaomi Redmi 2 also comes with a 8.0-megapixel camera that is able to record videos at 1080p. It comes with 8/16GB of built-in storage, and is able to support microSD cards of up to 32GB.&quot;,&#xA;      &quot;balance&quot;: 8,&#xA;      &quot;price&quot;: 449,&#xA;      &quot;image_url&quot;: &quot;/images/xiaomi-redmi-2_201521362954_b.jpg&quot;,&#xA;      &quot;specification&quot;: {&#xA;        &quot;general&quot;: {&#xA;          &quot;date_announced&quot;: &quot;2015-02-13&quot;,&#xA;          &quot;network_technology&quot;: &quot;GSM / HSPA / LTE&quot;&#xA;        },&#xA;        &quot;processor_memory&quot;: {&#xA;          &quot;sim&quot;: &quot;Dual SIM&quot;,&#xA;          &quot;cpu&quot;: &quot;Quad-core 1.2 GHz Cortex-A53&quot;,&#xA;          &quot;ram&quot;: &quot;1 GB&quot;,&#xA;          &quot;internal_storage&quot;: &quot;8 GB&quot;,&#xA;          &quot;external_storage&quot;: &quot;microSD, up to 32 GB&quot;,&#xA;          &quot;gpu&quot;: &quot;Adreno 306&quot;,&#xA;          &quot;chipset&quot;: null&#xA;        },&#xA;        &quot;body&quot;: {&#xA;          &quot;dimensions&quot;: &quot;134 x 67.2 x 9.4 (height x width x thickness)(mm)&quot;,&#xA;          &quot;weight&quot;: &quot;133 g&quot;,&#xA;          &quot;available_colors&quot;: &quot;Black, White, Yellow, Pink, Green&quot;,&#xA;          &quot;qwerty_keypad&quot;: null&#xA;        },&#xA;        &quot;display&quot;: {&#xA;          &quot;screen_size&quot;: &quot;4.7 inch&quot;,&#xA;          &quot;resolution&quot;: &quot;720 x 1280 pixels (312 ppi pixel density)&quot;,&#xA;          &quot;screen_color&quot;: &quot;IPS LCD capacitive touchscreen, 16M colors&quot;,&#xA;          &quot;design&quot;: &quot;Candybar&quot;,&#xA;          &quot;screen_protection&quot;: &quot;Corning Gorilla Glass 2&quot;,&#xA;          &quot;multitouch&quot;: true&#xA;        },&#xA;        &quot;software&quot;: {&#xA;          &quot;platform_os&quot;: &quot;Android OS, v4.4.4 (KitKat)&quot;,&#xA;          &quot;java_j2me&quot;: &quot;via Java MIDP emulator&quot;,&#xA;          &quot;messaging&quot;: &quot;SMS, MMS, Email, Push Email, IM&quot;,&#xA;          &quot;others&quot;: &quot;Organizer, Document viewer, Photo viewer/editor&quot;&#xA;        },&#xA;        &quot;sound&quot;: {&#xA;          &quot;alert&quot;: &quot;MP3, Vibration, WAV&quot;,&#xA;          &quot;3_5_mm_jack&quot;: true,&#xA;          &quot;extra_feature&quot;: &quot;MP3/WAV/eAAC+/FLAC player&quot;&#xA;        },&#xA;        &quot;battery&quot;: {&#xA;          &quot;type_capacity&quot;: &quot;Li-Po 2200 mAh battery&quot;,&#xA;          &quot;stand_by&quot;: null,&#xA;          &quot;talk_time&quot;: null&#xA;        },&#xA;        &quot;entertainment&quot;: {&#xA;          &quot;fm_radio&quot;: null,&#xA;          &quot;tv_receiver&quot;: null&#xA;        },&#xA;        &quot;connectivity&quot;: {&#xA;          &quot;hspda&quot;: null,&#xA;          &quot;wlan&quot;: true,&#xA;          &quot;gprs&quot;: true,&#xA;          &quot;edge&quot;: true,&#xA;          &quot;wifi_hot_spot&quot;: true,&#xA;          &quot;gps&quot;: true,&#xA;          &quot;nfc_support&quot;: null,&#xA;          &quot;bluetooth&quot;: &quot;v4.0, A2DP, LE&quot;,&#xA;          &quot;usb_port&quot;: true,&#xA;          &quot;sensor&quot;: &quot;Accelerometer, Compass, Gyro, Proximity&quot;&#xA;        },&#xA;        &quot;camera&quot;: {&#xA;          &quot;capacity&quot;: &quot;8 Megapixel&quot;,&#xA;          &quot;max_resolution&quot;: &quot;3264 x 2448&quot;,&#xA;          &quot;flash&quot;: true,&#xA;          &quot;video_recording&quot;: &quot;1080p@30fps&quot;,&#xA;          &quot;secondary_camera&quot;: &quot;2 MP, 720p&quot;,&#xA;          &quot;extra_features&quot;: &quot;Autofocus, LED flash, 1.4 µm pixel size, geo-tagging, touch focus, face/smile detection, HDR&quot;&#xA;        }&#xA;      }&#xA;    },&#xA;    {&#xA;      &quot;id&quot;: 2,&#xA;      &quot;name&quot;: &quot;Samsung Galaxy S6 Edge&quot;,&#xA;      &quot;description&quot;: &quot;The Samsung Galaxy S6 Edge runs on Android OS, v5.0 (Lollipop) and is powered by Quad-core 1.3 GHz Cortex-A53 &amp; Quad-core 1.9 GHz Cortex-A57 with 3GB RAM. It has a 5.2-inch, 1440 x 2560 pixel display. The Samsung Galaxy S6 Edge also comes with a 20.0-megapixel camera that is able to record videos at 2160p. It comes with 32GB of built-in storage, and is able to support microSD cards of up to 128GB.&quot;,&#xA;      &quot;balance&quot;: 0,&#xA;      &quot;price&quot;: 3099,&#xA;      &quot;image_url&quot;: &quot;/images/samsung-galaxy-s6-edge_2015335211_b.jpg&quot;,&#xA;      &quot;specification&quot;: {&#xA;        &quot;general&quot;: {&#xA;          &quot;date_announced&quot;: &quot;2015-03-03&quot;,&#xA;          &quot;network_technology&quot;: &quot;GSM 850 / 900 / 1800 / 1900\nHSDPA 850 / 900 / 1900 / 2100\nLTE 800 / 850 / 900 / 1800 / 1900&quot;&#xA;        },&#xA;        &quot;processor_memory&quot;: {&#xA;          &quot;sim&quot;: &quot;Micro SIM&quot;,&#xA;          &quot;cpu&quot;: &quot;Quad-core 1.3 GHz Cortex-A53, Quad-core 1.9 GHz Cortex-A57&quot;,&#xA;          &quot;ram&quot;: &quot;3 GB&quot;,&#xA;          &quot;internal_storage&quot;: &quot;32 GB&quot;,&#xA;          &quot;external_storage&quot;: &quot;MicroSD, up to 128 GB&quot;,&#xA;          &quot;gpu&quot;: &quot;Mali-T760&quot;,&#xA;          &quot;chipset&quot;: &quot;Exynos 7420&quot;&#xA;        },&#xA;        &quot;body&quot;: {&#xA;          &quot;dimensions&quot;: &quot;142.1 x 70.1 x 7 (height x width x thickness)(mm)&quot;,&#xA;          &quot;weight&quot;: &quot;132 g&quot;,&#xA;          &quot;available_colors&quot;: &quot;White Pearl, Black Sapphire, Gold Platinum, Green Emerald&quot;,&#xA;          &quot;qwerty_keypad&quot;: null&#xA;        },&#xA;        &quot;display&quot;: {&#xA;          &quot;screen_size&quot;: &quot;5.1 inch&quot;,&#xA;          &quot;resolution&quot;: &quot;1440 x 2560 pixels (576 ppi pixel density)&quot;,&#xA;          &quot;screen_color&quot;: &quot;Super AMOLED capacitive touchscreen, 16M colors&quot;,&#xA;          &quot;design&quot;: &quot;Candybar&quot;,&#xA;          &quot;screen_protection&quot;: &quot;Corning Gorilla Glass 4&quot;,&#xA;          &quot;multitouch&quot;: true&#xA;        },&#xA;        &quot;software&quot;: {&#xA;          &quot;platform_os&quot;: &quot;Android OS v5.0 (Lollipop)&quot;,&#xA;          &quot;java_j2me&quot;: &quot;via Java MIDP emulator&quot;,&#xA;          &quot;messaging&quot;: &quot;SMS, MMS, Email, Push Email, IM&quot;&#xA;        },&#xA;        &quot;sound&quot;: {&#xA;          &quot;alert&quot;: &quot;MP3, Vibration, WAV&quot;,&#xA;          &quot;3_5_mm_jack&quot;: true,&#xA;          &quot;extra_feature&quot;: &quot;MP3/WAV/WMA/eAAC+/FLAC player&quot;&#xA;        },&#xA;        &quot;battery&quot;: {&#xA;          &quot;type_capacity&quot;: &quot;Li-Ion 2600 mAh battery&quot;,&#xA;          &quot;stand_by&quot;: null,&#xA;          &quot;talk_time&quot;: null&#xA;        },&#xA;        &quot;entertainment&quot;: {&#xA;          &quot;fm_radio&quot;: null,&#xA;          &quot;tv_receiver&quot;: null&#xA;        },&#xA;        &quot;connectivity&quot;: {&#xA;          &quot;hspda&quot;: null,&#xA;          &quot;wlan&quot;: true,&#xA;          &quot;gprs&quot;: true,&#xA;          &quot;edge&quot;: true,&#xA;          &quot;wifi_hot_spot&quot;: true,&#xA;          &quot;gps&quot;: true,&#xA;          &quot;nfc_support&quot;: true,&#xA;          &quot;bluetooth&quot;: &quot;v4.0, A2DP, EDR, LE, apt-X&quot;,&#xA;          &quot;usb_port&quot;: true,&#xA;          &quot;sensor&quot;: &quot;Accelerometer, Barometer, Compass, Gesture, Gyro, Heart rate, Proximity&quot;&#xA;        },&#xA;        &quot;camera&quot;: {&#xA;          &quot;capacity&quot;: &quot;16 Megapixel&quot;,&#xA;          &quot;max_resolution&quot;: &quot;4992 x 3744&quot;,&#xA;          &quot;flash&quot;: true,&#xA;          &quot;video_recording&quot;: &quot;2160p@30fps, 1080p@60fps, 720p@120fps, hdr, dual-video rec&quot;,&#xA;          &quot;secondary_camera&quot;: &quot;5 MP, 1080p@30fps, dual video call, Auto HDR&quot;,&#xA;          &quot;extra_features&quot;: &quot;Phase detection autofocus, LED flash, Dual Shot, Simultaneous HD video and image recording, geo-tagging, touch focus, face/smile detection, HDR&quot;&#xA;        }&#xA;      }&#xA;    },&#xA;    {&#xA;      &quot;id&quot;: 3,&#xA;      &quot;name&quot;: &quot;LG G4&quot;,&#xA;      &quot;description&quot;: &quot;The LG G4 runs on Android OS, v5.1 (Lollipop) and is powered by Dual-core 1.8 GHz Cortex-A57 &amp; quad-core 1.44 GHz Cortex-A53 processor with 3GB RAM. It has a 5.5-inch, 1440 x 2560 pixel display. The LG G4 also comes with a 16.0-megapixel camera that is able to record videos at 2160p. It comes with 32GB of built-in storage, and is able to support microSD cards of up to 128GB.&quot;,&#xA;      &quot;balance&quot;: 0,&#xA;      &quot;price&quot;: 2499,&#xA;      &quot;image_url&quot;: &quot;/images/lg-g4_2015429144628_b.jpg&quot;,&#xA;      &quot;specification&quot;: {&#xA;        &quot;general&quot;: {&#xA;          &quot;date_announced&quot;: &quot;2015-04-29&quot;,&#xA;          &quot;network_technology&quot;: &quot;GSM / HSPA / LTE&quot;&#xA;        },&#xA;        &quot;processor_memory&quot;: {&#xA;          &quot;sim&quot;: &quot;Dual SIM&quot;,&#xA;          &quot;cpu&quot;: &quot;Dual-core 1.8 GHz Cortex-A57, Quad-core 1.44 GHz Cortex-A53&quot;,&#xA;          &quot;ram&quot;: &quot;3 GB&quot;,&#xA;          &quot;internal_storage&quot;: &quot;32 GB&quot;,&#xA;          &quot;external_storage&quot;: &quot;MicroSD, up to 128 GB&quot;,&#xA;          &quot;gpu&quot;: null,&#xA;          &quot;chipset&quot;: null&#xA;        },&#xA;        &quot;body&quot;: {&#xA;          &quot;dimensions&quot;: &quot;148.9 x 76.1 x 9.8 (height x width x thickness)(mm)&quot;,&#xA;          &quot;weight&quot;: &quot;155 g&quot;,&#xA;          &quot;available_colors&quot;: &quot;Grey, White, Gold, Leather Black, Leather Brown, Leather RedGrey,&quot;,&#xA;          &quot;qwerty_keypad&quot;: null&#xA;        },&#xA;        &quot;display&quot;: {&#xA;          &quot;screen_size&quot;: &quot;5.5 inch&quot;,&#xA;          &quot;resolution&quot;: &quot;1440 x 2560 pixels (538 ppi pixel density)&quot;,&#xA;          &quot;screen_color&quot;: &quot;IPS LCD capacitive touchscreen, 16M colors&quot;,&#xA;          &quot;design&quot;: &quot;Candybar&quot;,&#xA;          &quot;screen_protection&quot;: &quot;Corning Gorilla Glass 4&quot;,&#xA;          &quot;multitouch&quot;: true&#xA;        },&#xA;        &quot;software&quot;: {&#xA;          &quot;platform_os&quot;: &quot;Android OS v5.0 (Lollipop)&quot;,&#xA;          &quot;java_j2me&quot;: null,&#xA;          &quot;messaging&quot;: &quot;SMS, MMS, Email, Push Email, IM&quot;,&#xA;          &quot;others&quot;: &quot;Organizer, Document viewer, Photo viewer/editor&quot;&#xA;        },&#xA;        &quot;sound&quot;: {&#xA;          &quot;alert&quot;: &quot;MP3, Vibration, WAV&quot;,&#xA;          &quot;3_5_mm_jack&quot;: true,&#xA;          &quot;extra_feature&quot;: &quot;MP3/WAV/FLAC/eAAC+/WMA player&quot;&#xA;        },&#xA;        &quot;battery&quot;: {&#xA;          &quot;type_capacity&quot;: &quot;Li-Ion 3000 mAh battery&quot;,&#xA;          &quot;stand_by&quot;: &quot;Up to 375 h (3G)&quot;,&#xA;          &quot;talk_time&quot;: &quot;Up to 10 h (3G)&quot;&#xA;        },&#xA;        &quot;entertainment&quot;: {&#xA;          &quot;fm_radio&quot;: null,&#xA;          &quot;tv_receiver&quot;: null&#xA;        },&#xA;        &quot;connectivity&quot;: {&#xA;          &quot;hspda&quot;: null,&#xA;          &quot;wlan&quot;: true,&#xA;          &quot;gprs&quot;: null,&#xA;          &quot;edge&quot;: true,&#xA;          &quot;wifi_hot_spot&quot;: true,&#xA;          &quot;gps&quot;: true,&#xA;          &quot;nfc_support&quot;: true,&#xA;          &quot;bluetooth&quot;: &quot;v4.1, A2DP, LE, apt-X&quot;,&#xA;          &quot;usb_port&quot;: true,&#xA;          &quot;sensor&quot;: &quot;Accelerometer, Barometer, Compass, Gyro, Proximity&quot;&#xA;        },&#xA;        &quot;camera&quot;: {&#xA;          &quot;capacity&quot;: &quot;16 Megapixel&quot;,&#xA;          &quot;max_resolution&quot;: &quot;5312 x 2988&quot;,&#xA;          &quot;flash&quot;: null,&#xA;          &quot;video_recording&quot;: &quot;2160p@30fps, 1080p@60fps, optical stabilization, hdr, stereo sound rec&quot;,&#xA;          &quot;secondary_camera&quot;: &quot;8 MP, 1080p@30fps&quot;,&#xA;          &quot;extra_features&quot;: &quot;Phase detection/laser autofocus, optical image stabilization, dual-LED (dual tone) flash, 1/2.6\&quot; sensor size, simultaneous video and image recording, geo-tagging, face detection, HDR&quot;&#xA;        }&#xA;      }&#xA;    },&#xA;    {&#xA;      &quot;id&quot;: 4,&#xA;      &quot;name&quot;: &quot;HTC One M9&quot;,&#xA;      &quot;description&quot;: &quot;The HTC One M9 runs on (operating system) and is powered by Quad-core 1.5 GHz Cortex-A53 &amp; Quad-core 2 GHz Cortex-A57 processor with 3GB RAM. It has a 5.0-inch, 1080 x 1920 pixel display. The HTC One M9 also comes with a 20.7-megapixel camera that is able to record videos at 2160p. It comes with 32GB of built-in storage, and is able to support microSD cards of up to 128GB.&quot;,&#xA;      &quot;balance&quot;: 0,&#xA;      &quot;price&quot;: 2599,&#xA;      &quot;image_url&quot;: &quot;/images/htc-one-m9_201531281515_b.jpg&quot;,&#xA;      &quot;specification&quot;: {&#xA;        &quot;general&quot;: {&#xA;          &quot;date_announced&quot;: &quot;2015-03-12&quot;,&#xA;          &quot;network_technology&quot;: &quot;GSM / HSPA / LTE&quot;&#xA;        },&#xA;        &quot;processor_memory&quot;: {&#xA;          &quot;sim&quot;: &quot;Dual SIM&quot;,&#xA;          &quot;cpu&quot;: &quot;Quad-core 1.5 GHz Cortex-A53, Quad-core 2 GHz Cortex-A57&quot;,&#xA;          &quot;ram&quot;: &quot;3 GB&quot;,&#xA;          &quot;internal_storage&quot;: &quot;32 GB&quot;,&#xA;          &quot;external_storage&quot;: &quot;MicroSD, up to 128 GB&quot;,&#xA;          &quot;gpu&quot;: &quot;Adreno 430&quot;,&#xA;          &quot;chipset&quot;: null&#xA;        },&#xA;        &quot;body&quot;: {&#xA;          &quot;dimensions&quot;: &quot;144.6 x 69.7 x 9.6 (height x width x thickness)(mm)&quot;,&#xA;          &quot;weight&quot;: &quot;157 g&quot;,&#xA;          &quot;available_colors&quot;: &quot;Gunmetal Gray, Amber Gold, Silver/Rose gold, Gold/Pink&quot;,&#xA;          &quot;qwerty_keypad&quot;: null&#xA;        },&#xA;        &quot;display&quot;: {&#xA;          &quot;screen_size&quot;: &quot;5 inch&quot;,&#xA;          &quot;resolution&quot;: &quot;1080 x 1920 pixels (441 ppi pixel density)&quot;,&#xA;          &quot;screen_color&quot;: &quot;Super LCD3 capacitive touchscreen, 16M colors&quot;,&#xA;          &quot;design&quot;: &quot;Candybar&quot;,&#xA;          &quot;screen_protection&quot;: null,&#xA;          &quot;multitouch&quot;: true&#xA;        },&#xA;        &quot;software&quot;: {&#xA;          &quot;platform_os&quot;: &quot;Android OS v5.0 (Lollipop)&quot;,&#xA;          &quot;java_j2me&quot;: &quot;via Java MIDP emulator&quot;,&#xA;          &quot;messaging&quot;: &quot;SMS, MMS, Email, Push Email, IM&quot;,&#xA;          &quot;others&quot;: &quot;Organizer, Document viewer, Photo viewer/editor&quot;&#xA;        },&#xA;        &quot;sound&quot;: {&#xA;          &quot;alert&quot;: &quot;MP3, Vibration, WAV&quot;,&#xA;          &quot;3_5_mm_jack&quot;: true,&#xA;          &quot;extra_feature&quot;: null&#xA;        },&#xA;        &quot;battery&quot;: {&#xA;          &quot;type_capacity&quot;: &quot;Li-Po 2840 mAh battery&quot;,&#xA;          &quot;stand_by&quot;: &quot;Up to 391 h (2G) / Up to 402 h (3G)&quot;,&#xA;          &quot;talk_time&quot;: &quot;Up to 25 h 20 min (2G) / Up to 21 h 50 min (3G)&quot;&#xA;        },&#xA;        &quot;entertainment&quot;: {&#xA;          &quot;fm_radio&quot;: true,&#xA;          &quot;tv_receiver&quot;: null&#xA;        },&#xA;        &quot;connectivity&quot;: {&#xA;          &quot;hspda&quot;: null,&#xA;          &quot;wlan&quot;: true,&#xA;          &quot;gprs&quot;: true,&#xA;          &quot;edge&quot;: true,&#xA;          &quot;wifi_hot_spot&quot;: true,&#xA;          &quot;gps&quot;: true,&#xA;          &quot;nfc_support&quot;: true,&#xA;          &quot;bluetooth&quot;: &quot;v4.1, A2DP, LE, apt-X&quot;,&#xA;          &quot;usb_port&quot;: true,&#xA;          &quot;sensor&quot;: &quot;Accelerometer, Compass, Gyro, Proximity&quot;&#xA;        },&#xA;        &quot;camera&quot;: {&#xA;          &quot;capacity&quot;: &quot;20 Megapixel&quot;,&#xA;          &quot;max_resolution&quot;: &quot;5376 x 3752&quot;,&#xA;          &quot;flash&quot;: null,&#xA;          &quot;video_recording&quot;: &quot;2160p@30fps, 1080p@60fps, 720p@120fps, hdr, stereo sound rec&quot;,&#xA;          &quot;secondary_camera&quot;: &quot;4 MP, 1080p@30fps, HDR&quot;,&#xA;          &quot;extra_features&quot;: &quot;Autofocus, dual-LED (dual tone) flash, Automatic simultaneous video and image recording, geo-tagging, face/smile detection, HDR, panorama&quot;&#xA;        }&#xA;      }&#xA;    },&#xA;    {&#xA;      &quot;id&quot;: 5,&#xA;      &quot;name&quot;: &quot;Motorola Moto X&quot;,&#xA;      &quot;description&quot;: &quot;The Moto X from Motorola is now arriving in Malaysia after being announced back in August 2013 and is expected to be a pretty efficient device for its price range - with a dual-core 1.7GHz Krait processor, Adreno 320 GPU, 720x1280 4.7\&quot; display, excellent 2GB of RAM, expandable storage up to 32GB, and a whopping 18 color options for the casing.&quot;,&#xA;      &quot;balance&quot;: 3,&#xA;      &quot;price&quot;: 1499,&#xA;      &quot;image_url&quot;: &quot;/images/motorola-moto-x_2013722143827_b.jpg&quot;,&#xA;      &quot;specification&quot;: {&#xA;        &quot;general&quot;: {&#xA;          &quot;date_announced&quot;: &quot;2013-08-05&quot;,&#xA;          &quot;network_technology&quot;: &quot;GSM 850 / 900 / 1800 / 1900\nHSDPA\nLTE&quot;&#xA;        },&#xA;        &quot;processor_memory&quot;: {&#xA;          &quot;sim&quot;: true,&#xA;          &quot;cpu&quot;: &quot;Dual-core 1.7 GHz Krait&quot;,&#xA;          &quot;ram&quot;: &quot;2 GB&quot;,&#xA;          &quot;internal_storage&quot;: &quot;16 GB&quot;,&#xA;          &quot;external_storage&quot;: null,&#xA;          &quot;gpu&quot;: &quot;Adreno 320&quot;,&#xA;          &quot;chipset&quot;: &quot;Qualcomm MSM8960Pro Snapdragon&quot;&#xA;        },&#xA;        &quot;body&quot;: {&#xA;          &quot;dimensions&quot;: &quot;Qualcomm MSM8960Pro Snapdragon&quot;,&#xA;          &quot;weight&quot;: &quot;130 g&quot;,&#xA;          &quot;available_colors&quot;: &quot;Black, White (front panel), 18 color options (back panel)&quot;,&#xA;          &quot;qwerty_keypad&quot;: null&#xA;        },&#xA;        &quot;display&quot;: {&#xA;          &quot;screen_size&quot;: &quot;4.7 inch&quot;,&#xA;          &quot;resolution&quot;: &quot;720 x 1280 pixels&quot;,&#xA;          &quot;screen_color&quot;: &quot;Capacitive touchscreen, 16M colors&quot;,&#xA;          &quot;design&quot;: &quot;Candybar&quot;,&#xA;          &quot;screen_protection&quot;: &quot;Corning Gorilla Glass&quot;,&#xA;          &quot;multitouch&quot;: true&#xA;        },&#xA;        &quot;software&quot;: {&#xA;          &quot;platform_os&quot;: &quot;Android OS, v4.2.2 (Jelly Bean)&quot;,&#xA;          &quot;java_j2me&quot;: null,&#xA;          &quot;messaging&quot;: &quot;SMS, MMS, Email, Push Email, IM&quot;,&#xA;          &quot;others&quot;: &quot;SNS integration, Google Search, Maps, Gmail, YouTube, Calendar, Google Talk, Organizer, Document viewer, Photo viewer/editor&quot;&#xA;        },&#xA;        &quot;sound&quot;: {&#xA;          &quot;alert&quot;: &quot;MP3, Vibration&quot;,&#xA;          &quot;3_5_mm_jack&quot;: true,&#xA;          &quot;extra_feature&quot;: null&#xA;        },&#xA;        &quot;battery&quot;: {&#xA;          &quot;type_capacity&quot;: &quot;Li-Ion 2200 mAh battery&quot;,&#xA;          &quot;stand_by&quot;: &quot;Up to 576 h&quot;,&#xA;          &quot;talk_time&quot;: &quot;Up to 13 h&quot;&#xA;        },&#xA;        &quot;entertainment&quot;: {&#xA;          &quot;fm_radio&quot;: null,&#xA;          &quot;tv_receiver&quot;: null&#xA;        },&#xA;        &quot;connectivity&quot;: {&#xA;          &quot;hspda&quot;: &quot;HSDPA, 42.2 Mbps; HSUPA, 5.76 Mbps; LTE, Cat3, 50 Mbps UL, 100 Mbps DL / EV-DO Rev. A, up to 3.1 Mbp&quot;,&#xA;          &quot;wlan&quot;: true,&#xA;          &quot;gprs&quot;: true,&#xA;          &quot;edge&quot;: true,&#xA;          &quot;wifi_hot_spot&quot;: true,&#xA;          &quot;gps&quot;: true,&#xA;          &quot;nfc_support&quot;: null,&#xA;          &quot;bluetooth&quot;: &quot;v4.0 with A2DP, LE, EDR&quot;,&#xA;          &quot;usb_port&quot;: null,&#xA;          &quot;sensor&quot;: &quot;Accelerometer, Barometer, Compass, Gyro, Proximity, Temperature&quot;&#xA;        },&#xA;        &quot;camera&quot;: {&#xA;          &quot;capacity&quot;: &quot;10 Megapixel&quot;,&#xA;          &quot;max_resolution&quot;: &quot;4320 x 2432&quot;,&#xA;          &quot;flash&quot;: true,&#xA;          &quot;video_recording&quot;: &quot;1080p@30fps&quot;,&#xA;          &quot;secondary_camera&quot;: &quot;2 MP, 1080p&quot;,&#xA;          &quot;extra_features&quot;: &quot;autofocus, LED flash, Geo-tagging, touch focus, face detection, panorama, HDR&quot;&#xA;        }&#xA;      }&#xA;    },&#xA;    {&#xA;      &quot;id&quot;: 6,&#xA;      &quot;name&quot;: &quot;LG G3&quot;,&#xA;      &quot;description&quot;: &quot;The LG G3 runs on Android OS, v4.4.2 (KitKat) and is powered by Quad-core 2.26 GHz Krait 400 processor with 3GB RAM. It has a 5.5-inch, 1440 x 2560 pixel display. The LG G3 also comes with a 13.0-megapixel camera that is able to record videos at 1080p. It comes with 32GB of built-in storage, and is able to support microSD cards of up to 32GB.&quot;,&#xA;      &quot;balance&quot;: 4,&#xA;      &quot;price&quot;: 1699,&#xA;      &quot;image_url&quot;: &quot;/images/lg-g3_2014613153553_b.jpg&quot;,&#xA;      &quot;specification&quot;: {&#xA;        &quot;general&quot;: {&#xA;          &quot;date_announced&quot;: &quot;2014-06-09&quot;,&#xA;          &quot;network_technology&quot;: &quot;GSM 850 / 900 / 1800 / 1900\nCDMA 800 / 1900\nHSDPA 850 / 900 / 1900 / 2100\nLTE 800 / 1800&quot;&#xA;        },&#xA;        &quot;processor_memory&quot;: {&#xA;          &quot;sim&quot;: true,&#xA;          &quot;cpu&quot;: &quot;Quad-core 2.5 GHz Krait 400&quot;,&#xA;          &quot;ram&quot;: &quot;3 GB&quot;,&#xA;          &quot;internal_storage&quot;: &quot;32 GB&quot;,&#xA;          &quot;external_storage&quot;: &quot;microSD, up to 32 GB&quot;,&#xA;          &quot;gpu&quot;: &quot;Adreno 330&quot;,&#xA;          &quot;chipset&quot;: &quot;Qualcomm MSM8974AA Snapdragon&quot;&#xA;        },&#xA;        &quot;body&quot;: {&#xA;          &quot;dimensions&quot;: &quot;146.3 x 74.6 x 8.9 (height x width x thickness)(mm)&quot;,&#xA;          &quot;weight&quot;: &quot;149 g&quot;,&#xA;          &quot;available_colors&quot;: &quot;Metallic Black, Silk White, Shine Gold, Moon Violet, Burgundy Red&quot;,&#xA;          &quot;qwerty_keypad&quot;: null&#xA;        },&#xA;        &quot;display&quot;: {&#xA;          &quot;screen_size&quot;: &quot;5.5 inch&quot;,&#xA;          &quot;resolution&quot;: &quot;1440 x 2560 pixels&quot;,&#xA;          &quot;screen_color&quot;: &quot;True HD-IPS + LCD capacitive touchscreen, 16M colors&quot;,&#xA;          &quot;design&quot;: &quot;Candybar&quot;,&#xA;          &quot;screen_protection&quot;: &quot;Corning Gorilla Glass 3&quot;,&#xA;          &quot;multitouch&quot;: true&#xA;        },&#xA;        &quot;software&quot;: {&#xA;          &quot;platform_os&quot;: &quot;Android OS, v4.4.2 (KitKat)&quot;,&#xA;          &quot;java_j2me&quot;: &quot;via Java MIDP emulator&quot;,&#xA;          &quot;messaging&quot;: &quot;SMS, MMS, Email, Push Email, IM&quot;,&#xA;          &quot;others&quot;: &quot;SNS applications, Google Search, Maps, Gmail, YouTube, Google Talk, Document viewer, Photo viewer/editor&quot;&#xA;        },&#xA;        &quot;sound&quot;: {&#xA;          &quot;alert&quot;: &quot;MP3, Vibration, WAV&quot;,&#xA;          &quot;3_5_mm_jack&quot;: true,&#xA;          &quot;extra_feature&quot;: &quot;MP3/WAV/FLAC/eAAC+/WMA player&quot;&#xA;        },&#xA;        &quot;battery&quot;: {&#xA;          &quot;type_capacity&quot;: &quot;Li-Ion 3000 mAh battery&quot;,&#xA;          &quot;stand_by&quot;: null,&#xA;          &quot;talk_time&quot;: null&#xA;        },&#xA;        &quot;entertainment&quot;: {&#xA;          &quot;fm_radio&quot;: null,&#xA;          &quot;tv_receiver&quot;: null&#xA;        },&#xA;        &quot;connectivity&quot;: {&#xA;          &quot;hspda&quot;: &quot;HSDPA, 42 Mbps; HSUPA, 21 Mbps; LTE, Cat4, 50 Mbps UL, 150 Mbps DL/ EV-DO Rev. A, up to 3.1 Mbps&quot;,&#xA;          &quot;wlan&quot;: &quot;Class 12&quot;,&#xA;          &quot;gprs&quot;: true,&#xA;          &quot;edge&quot;: &quot;Class 12&quot;,&#xA;          &quot;wifi_hot_spot&quot;: true,&#xA;          &quot;gps&quot;: true,&#xA;          &quot;nfc_support&quot;: true,&#xA;          &quot;bluetooth&quot;: &quot;v4.0 with A2DP, LE&quot;,&#xA;          &quot;usb_port&quot;: true,&#xA;          &quot;sensor&quot;: &quot;Accelerometer, Compass, Gyro, Proximity&quot;&#xA;        },&#xA;        &quot;camera&quot;: {&#xA;          &quot;capacity&quot;: &quot;13 Megapixel&quot;,&#xA;          &quot;max_resolution&quot;: &quot;4160 x 3120&quot;,&#xA;          &quot;flash&quot;: true,&#xA;          &quot;video_recording&quot;: &quot;2160p@30fps, 1080p@60fps, hdr, stereo sound rec., video stabilization&quot;,&#xA;          &quot;secondary_camera&quot;: &quot;2.1 MP, 1080p@30fps&quot;,&#xA;          &quot;extra_features&quot;: &quot;Autofocus, optical image stabilization, LED flash, Simultaneous video and image recording, geo-tagging, face detection, HDR&quot;&#xA;        }&#xA;      }&#xA;    },&#xA;    {&#xA;      &quot;id&quot;: 7,&#xA;      &quot;name&quot;: &quot;Apple iPhone 6&quot;,&#xA;      &quot;description&quot;: &quot;The Apple iPhone 6 runs on iOS 8 and is powered by Dual-core 1.4 GHz Cyclone (ARM v8-based) processor with 1GB RAM. It has a 4.7-inch, 750 x 1334 pixel display. The Apple iPhone 6 also comes with a 8.0-megapixel camera that is able to record videos at 1080p. It comes with 16/64/128GB of built-in storage.&quot;,&#xA;      &quot;balance&quot;: 0,&#xA;      &quot;price&quot;: 2549,&#xA;      &quot;image_url&quot;: &quot;/images/apple-iphone-6_20149111340_b.jpg&quot;,&#xA;      &quot;specification&quot;: {&#xA;        &quot;general&quot;: {&#xA;          &quot;date_announced&quot;: &quot;2014-09-11&quot;,&#xA;          &quot;network_technology&quot;: &quot;GSM 850 / 900 / 1800 / 1900\nCDMA 800 / 1700 / 1900 / 2100\nLTE&quot;&#xA;        },&#xA;        &quot;processor_memory&quot;: {&#xA;          &quot;sim&quot;: &quot;Nano SIM&quot;,&#xA;          &quot;cpu&quot;: &quot;Dual-core 1.4 GHz Cyclone (ARM v8-based)&quot;,&#xA;          &quot;ram&quot;: &quot;1 GB&quot;,&#xA;          &quot;internal_storage&quot;: &quot;16/64/128GB&quot;,&#xA;          &quot;external_storage&quot;: null,&#xA;          &quot;gpu&quot;: &quot;PowerVR GX6650&quot;,&#xA;          &quot;chipset&quot;: &quot;Apple A8&quot;&#xA;        },&#xA;        &quot;body&quot;: {&#xA;          &quot;dimensions&quot;: &quot;137.5 x 67 x 7 (height x width x thickness)(mm)&quot;,&#xA;          &quot;weight&quot;: &quot;129 g&quot;,&#xA;          &quot;available_colors&quot;: &quot;Space Gray, Silver, Gold&quot;,&#xA;          &quot;qwerty_keypad&quot;: null&#xA;        },&#xA;        &quot;display&quot;: {&#xA;          &quot;screen_size&quot;: &quot;4.7 inch&quot;,&#xA;          &quot;resolution&quot;: &quot;750 x 1334 pixels&quot;,&#xA;          &quot;screen_color&quot;: &quot;LED-backlit IPS LCD, capacitive touchscreen, 16M colors&quot;,&#xA;          &quot;design&quot;: &quot;Candybar&quot;,&#xA;          &quot;screen_protection&quot;: &quot;Oleophobic coating&quot;,&#xA;          &quot;multitouch&quot;: true&#xA;        },&#xA;        &quot;software&quot;: {&#xA;          &quot;platform_os&quot;: &quot;iOS 8.1&quot;,&#xA;          &quot;java_j2me&quot;: null,&#xA;          &quot;messaging&quot;: &quot;SMS, MMS, Email, Push Email, IM&quot;,&#xA;          &quot;others&quot;: &quot;Airdrop file sharing, Siri natural language commands and dictation, iCloud cloud service, iCloud Keychain, Twitter and Facebook integration, TV-out, Maps, iBooks PDF reader, Audio/video player/editor, Organizer, Document viewer/editor, Image viewer/editor, Voice memo/dial/command&quot;&#xA;        },&#xA;        &quot;sound&quot;: {&#xA;          &quot;alert&quot;: null,&#xA;          &quot;3_5_mm_jack&quot;: true,&#xA;          &quot;extra_feature&quot;: null&#xA;        },&#xA;        &quot;battery&quot;: {&#xA;          &quot;type_capacity&quot;: &quot;Li-Po 1810 mAh battery&quot;,&#xA;          &quot;stand_by&quot;: &quot;(2G) / Up to 250 h (3G)&quot;,&#xA;          &quot;talk_time&quot;: &quot;(2G) / Up to 14 h (3G)&quot;&#xA;        },&#xA;        &quot;entertainment&quot;: {&#xA;          &quot;fm_radio&quot;: null,&#xA;          &quot;tv_receiver&quot;: null&#xA;        },&#xA;        &quot;connectivity&quot;: {&#xA;          &quot;hspda&quot;: &quot;HSDPA, 42 Mbps; HSUPA, 5.76 Mbps; EV-DO Rev. A, up to 3.1 Mbps; LTE, Cat4, 150 Mbps DL, 50 Mbps UL&quot;,&#xA;          &quot;wlan&quot;: true,&#xA;          &quot;gprs&quot;: true,&#xA;          &quot;edge&quot;: true,&#xA;          &quot;wifi_hot_spot&quot;: true,&#xA;          &quot;gps&quot;: true,&#xA;          &quot;nfc_support&quot;: true,&#xA;          &quot;bluetooth&quot;: &quot;v4.0 with A2DP&quot;,&#xA;          &quot;usb_port&quot;: true,&#xA;          &quot;sensor&quot;: &quot;Accelerometer, Compass, Gyro, Proximity&quot;&#xA;        },&#xA;        &quot;camera&quot;: {&#xA;          &quot;capacity&quot;: &quot;8 Megapixel&quot;,&#xA;          &quot;max_resolution&quot;: &quot;3264 x 2448&quot;,&#xA;          &quot;flash&quot;: true,&#xA;          &quot;video_recording&quot;: &quot;1080p@60fps, 720p@240fps&quot;,&#xA;          &quot;secondary_camera&quot;: &quot;1.2 MP, 720p, burst, HDR&quot;,&#xA;          &quot;extra_features&quot;: &quot;Autofocus, dual-LED (dual tone) flash, 1.5 µm pixel size, geo-tagging, simultaneous HD video and image recording, touch focus, face and smile detection, image stabilization, panorama, HDR&quot;&#xA;        }&#xA;      }&#xA;    },&#xA;    {&#xA;      &quot;id&quot;: 8,&#xA;      &quot;name&quot;: &quot;Sony Xperia Z3&quot;,&#xA;      &quot;description&quot;: &quot;The Sony Xperia Z3 runs on Android OS, v4.4.4 (KitKat) and is powered by Quad-core 2.5 GHz Krait 400 processor with 3GB RAM. The Sony Xperia Z3 also comes with a 20.7-megapixel camera that is able to record videos at 2160p. It comes with 16/32GB of built-in storage, and is able to support microSD cards of up to 128GB.&quot;,&#xA;      &quot;balance&quot;: 0,&#xA;      &quot;price&quot;: 1799,&#xA;      &quot;image_url&quot;: &quot;/images/sony-xperia-z3_201411138515_b.jpg&quot;,&#xA;      &quot;specification&quot;: {&#xA;        &quot;general&quot;: {&#xA;          &quot;date_announced&quot;: &quot;2014-08-22&quot;,&#xA;          &quot;network_technology&quot;: &quot;GSM 850 / 900 / 1800 / 1900\nLTE 700/800/850/900/1700/1800/1900/2100/2600&quot;&#xA;        },&#xA;        &quot;processor_memory&quot;: {&#xA;          &quot;sim&quot;: &quot;Nano SIM&quot;,&#xA;          &quot;cpu&quot;: &quot;Quad-core 2.5 GHz Krait 400&quot;,&#xA;          &quot;ram&quot;: &quot;3 GB&quot;,&#xA;          &quot;internal_storage&quot;: &quot;16/32 G&quot;,&#xA;          &quot;external_storage&quot;: &quot;MicroSD, up to 128 GB&quot;,&#xA;          &quot;gpu&quot;: &quot;Adreno 330&quot;,&#xA;          &quot;chipset&quot;: &quot;Qualcomm MSM8974AC Snapdragon 801&quot;&#xA;        },&#xA;        &quot;body&quot;: {&#xA;          &quot;dimensions&quot;: &quot;146 x 72 x 7.3 (height x width x thickness)(mm)&quot;,&#xA;          &quot;weight&quot;: &quot;152 g&quot;,&#xA;          &quot;available_colors&quot;: &quot;Black, White, Copper, Silver Green&quot;,&#xA;          &quot;qwerty_keypad&quot;: null&#xA;        },&#xA;        &quot;display&quot;: {&#xA;          &quot;screen_size&quot;: &quot;5.2 inch&quot;,&#xA;          &quot;resolution&quot;: &quot;1080 x 1920 pixels&quot;,&#xA;          &quot;screen_color&quot;: &quot;IPS LCD capacitive touchscreen, 16M colors&quot;,&#xA;          &quot;design&quot;: &quot;Candybar&quot;,&#xA;          &quot;screen_protection&quot;: null,&#xA;          &quot;multitouch&quot;: true&#xA;        },&#xA;        &quot;software&quot;: {&#xA;          &quot;platform_os&quot;: &quot;Android OS, v4.4.4 (KitKat)&quot;,&#xA;          &quot;java_j2me&quot;: &quot;via Java MIDP emulator&quot;,&#xA;          &quot;messaging&quot;: &quot;SMS, MMS, Email, Push Email, IM&quot;,&#xA;          &quot;others&quot;: &quot;SNS applications, Google Search, Maps, Gmail, YouTube, Google Talk, Document viewer, Photo viewer/editor&quot;&#xA;        },&#xA;        &quot;sound&quot;: {&#xA;          &quot;alert&quot;: &quot;MP3, Vibration, WAV&quot;,&#xA;          &quot;3_5_mm_jack&quot;: true,&#xA;          &quot;extra_feature&quot;: &quot;MP3/eAAC+/WAV/Flac player&quot;&#xA;        },&#xA;        &quot;battery&quot;: {&#xA;          &quot;type_capacity&quot;: &quot;Li-Ion 3100 mAh battery&quot;,&#xA;          &quot;stand_by&quot;: &quot;Up to 890 h (2G) / Up to 740 h (3G)&quot;,&#xA;          &quot;talk_time&quot;: &quot;Up to 14 h (2G) / Up to 16 h (3G)&quot;&#xA;        },&#xA;        &quot;entertainment&quot;: {&#xA;          &quot;fm_radio&quot;: null,&#xA;          &quot;tv_receiver&quot;: null&#xA;        },&#xA;        &quot;connectivity&quot;: {&#xA;          &quot;hspda&quot;: &quot;HSDPA, 42 Mbps; HSUPA, 5.8 Mbps; LTE, Cat4, 50 Mbps UL, 150 Mbps DL&quot;,&#xA;          &quot;wlan&quot;: true,&#xA;          &quot;gprs&quot;: true,&#xA;          &quot;edge&quot;: true,&#xA;          &quot;wifi_hot_spot&quot;: true,&#xA;          &quot;gps&quot;: true,&#xA;          &quot;nfc_support&quot;: true,&#xA;          &quot;bluetooth&quot;: &quot;v4.0, A2DP&quot;,&#xA;          &quot;usb_port&quot;: true,&#xA;          &quot;sensor&quot;: &quot;Accelerometer, Barometer, Compass, Gyro, Proximity&quot;&#xA;        },&#xA;        &quot;camera&quot;: {&#xA;          &quot;capacity&quot;: &quot;20.7 Megapixel&quot;,&#xA;          &quot;max_resolution&quot;: &quot;5248 x 3936&quot;,&#xA;          &quot;flash&quot;: true,&#xA;          &quot;video_recording&quot;: &quot;2160p@30fps, 1080p@60fps, 720p@120fps, hdr&quot;,&#xA;          &quot;secondary_camera&quot;: &quot;2.2 MP, 1080p@30fps&quot;,&#xA;          &quot;extra_features&quot;: &quot;Autofocus, LED flash, 1/2.3\&quot; sensor size, geo-tagging, touch focus, face detection, image stabilization, HDR, panorama&quot;&#xA;        }&#xA;      }&#xA;    },&#xA;    {&#xA;      &quot;id&quot;: 9,&#xA;      &quot;name&quot;: &quot;Samsung Galaxy Note 4&quot;,&#xA;      &quot;description&quot;: &quot;The Samsung Galaxy Note 4 runs on Android OS, v4.4.4 (KitKat) and is powered by Quad-core 2.7 GHz Krait 450 &amp; Quad-core 1.3 GHz Cortex-A53 processor with 3GB RAM. It has a 5.7-inch, 1440 x 2560 pixel display. The Samsung Galaxy Note 4 also comes with a 16.0-megapixel camera that is able to record videos at 2160p. It comes with 32GB of built-in storage, and is able to support microSD cards of up to 64GB.&quot;,&#xA;      &quot;balance&quot;: 5,&#xA;      &quot;price&quot;: 2499,&#xA;      &quot;image_url&quot;: &quot;/images/samsung-galaxy-note-4_20149821639_b.jpg&quot;,&#xA;      &quot;specification&quot;: {&#xA;        &quot;general&quot;: {&#xA;          &quot;date_announced&quot;: &quot;2014-09-08&quot;,&#xA;          &quot;network_technology&quot;: &quot;GSM 850 / 900 / 1800 / 1900\nHSDPA 850 / 900 / 1900 / 2100\nLTE 800 / 850 / 900 / 1800 / 2100&quot;&#xA;        },&#xA;        &quot;processor_memory&quot;: {&#xA;          &quot;sim&quot;: &quot;Micro SIM&quot;,&#xA;          &quot;cpu&quot;: &quot;Quad-core 2.7 GHz Krait 450, Quad-core 1.3 GHz Cortex-A53&quot;,&#xA;          &quot;ram&quot;: &quot;3 GB&quot;,&#xA;          &quot;internal_storage&quot;: &quot;32 GB&quot;,&#xA;          &quot;external_storage&quot;: &quot;microSD, up to 64 GB&quot;,&#xA;          &quot;gpu&quot;: &quot;Adreno 420&quot;,&#xA;          &quot;chipset&quot;: &quot;Qualcomm Snapdragon 805&quot;&#xA;        },&#xA;        &quot;body&quot;: {&#xA;          &quot;dimensions&quot;: &quot;153.5 x 78.6 x 8.5 (height x width x thickness)(mm)&quot;,&#xA;          &quot;weight&quot;: &quot;176 g&quot;,&#xA;          &quot;available_colors&quot;: &quot;Frosted white, Charcoal black, Bronze Gold, Blossom Pink&quot;,&#xA;          &quot;qwerty_keypad&quot;: null&#xA;        },&#xA;        &quot;display&quot;: {&#xA;          &quot;screen_size&quot;: &quot;5.7 inch&quot;,&#xA;          &quot;resolution&quot;: &quot;1440 x 2560 pixels&quot;,&#xA;          &quot;screen_color&quot;: &quot;Super AMOLED capacitive touchscreen, 16M colors&quot;,&#xA;          &quot;design&quot;: &quot;Candybar&quot;,&#xA;          &quot;screen_protection&quot;: &quot;Corning Gorilla Glass 3&quot;,&#xA;          &quot;multitouch&quot;: true&#xA;        },&#xA;        &quot;software&quot;: {&#xA;          &quot;platform_os&quot;: &quot;Android OS, v4.4.4 (KitKat)&quot;,&#xA;          &quot;java_j2me&quot;: &quot;via Java MIDP emulator&quot;,&#xA;          &quot;messaging&quot;: &quot;SMS, MMS, Email, Push Email, IM, RSS&quot;,&#xA;          &quot;others&quot;: &quot;SNS applications, Google Search, Maps, Gmail, YouTube, Google Talk, Document viewer, Photo viewer/editor&quot;&#xA;        },&#xA;        &quot;sound&quot;: {&#xA;          &quot;alert&quot;: &quot;MP3, Vibration, WAV&quot;,&#xA;          &quot;3_5_mm_jack&quot;: true,&#xA;          &quot;extra_feature&quot;: &quot;MP3/WAV/eAAC+/AC3/FLAC player&quot;&#xA;        },&#xA;        &quot;battery&quot;: {&#xA;          &quot;type_capacity&quot;: &quot;3220 mAh battery&quot;,&#xA;          &quot;stand_by&quot;: null,&#xA;          &quot;talk_time&quot;: null&#xA;        },&#xA;        &quot;entertainment&quot;: {&#xA;          &quot;fm_radio&quot;: null,&#xA;          &quot;tv_receiver&quot;: null&#xA;        },&#xA;        &quot;connectivity&quot;: {&#xA;          &quot;hspda&quot;: &quot;HSDPA, 42 Mbps; HSUPA; LTE, Cat4 (N910C), Cat6 (N910S), 50 Mbps UL, 300 Mbps (N910S), 150 Mbps (N910&quot;,&#xA;          &quot;wlan&quot;: true,&#xA;          &quot;gprs&quot;: true,&#xA;          &quot;edge&quot;: true,&#xA;          &quot;wifi_hot_spot&quot;: true,&#xA;          &quot;gps&quot;: true,&#xA;          &quot;nfc_support&quot;: true,&#xA;          &quot;bluetooth&quot;: &quot;v4.0 with A2DP, LE, EDR&quot;,&#xA;          &quot;usb_port&quot;: true,&#xA;          &quot;sensor&quot;: &quot;Accelerometer, Barometer, Compass, Gesture, Gyro, Humidity, Proximity, Temperature&quot;&#xA;        },&#xA;        &quot;camera&quot;: {&#xA;          &quot;capacity&quot;: &quot;16 Megapixel&quot;,&#xA;          &quot;max_resolution&quot;: &quot;3456 x 4608&quot;,&#xA;          &quot;flash&quot;: true,&#xA;          &quot;video_recording&quot;: &quot;2160p@30fps, 1080p@60fps&quot;,&#xA;          &quot;secondary_camera&quot;: &quot;3.7 MP, 1080p@30fps&quot;,&#xA;          &quot;extra_features&quot;: &quot;Dual Shot, Simultaneous HD video and image recording, geo-tagging, touch focus, face and smile detection, image stabilization, panorama, HDR, optical image stabilization, autofocus, LED flash&quot;&#xA;        }&#xA;      }&#xA;    }&#xA;  ]" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy> 
</mule>
